@use '../common/tool' as *;

.break {
    background-color: var(--w);
    height: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
        display: flex;
        align-items: center;
        gap: 0.05rem;

        li {
            display: flex;
            align-items: center;
            gap: 0.05rem;
            line-height: 1.2;
            white-space: pre;
            color: var(--9);
            width: min-content;

            svg {
                width: 0.16rem;
            }

            a {
                color: inherit;
                line-height: inherit;

                &:hover {
                    color: var(--bc);
                }
            }
        }

        li:last-child {
            @include ellipsis(1);
        }
    }

    &.other li:nth-child(2) {
        display: none;
    }
}