@use 'tool';
@use 'fonts';
@use 'sass:map';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "OpenSans-Regular", 'PingFang SC', 'Microsoft YaHei', 'Microsoft YaHei UI', 'SimSun', 'SimHei', 'Arial';
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--f, #fff);
}

::-webkit-scrollbar-thumb {
    border: solid 1px transparent;
    width: 3px;
    border-radius: 4px;
    background-color: var(--bc, #0153f8);
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-webkit-scrollbar:horizontal {
    height: 5px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "OpenSans-Bold";
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
fieldset {
    margin: 0;
    padding: 0;
}

input::placeholder,
textarea::placeholder {
    color: #0006;
}

input,
select,
textarea,
button {
    outline: none;
    box-shadow: none;
}

input,
select,
textarea {

    &:focus,
    &:focus-visible,
    &:hover {
        outline: none;
        box-shadow: none;
        background-color: inherit;
        text-transform: none;
    }
}

input,
button {
    appearance: none;
    border-radius: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: button;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    appearance: none;
    border-radius: 0;
    background: var(--f);
}

p {
    color: inherit;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}


svg {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0;
    fill: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

input,
select,
textarea {

    &:focus,
    &:focus-visible,
    &:hover {
        background-color: inherit;
        text-transform: none;
        outline: none;
        box-shadow: none;
    }
}

body {
    font-size: 0.16rem;
    line-height: 1.6;
    color: var(--1);
    background-color: var(--f);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0 auto;
    max-width: var(--cw);
    padding: 0 0.15rem;
    width: 100%;

    @media screen and (max-width:1440px) {
        max-width: 12rem;
    }
}

.f-inherit * {
    font-size: inherit;
}

.f-left {
    text-align: left
}

.f-center {
    text-align: center
}

.f-right {
    text-align: right
}

.f-justify {
    text-align: justify
}

.bold {
    font-weight: bold;
}

.hide {
    display: none
}

.grid {
    display: grid;
}

.g-one>* {
    grid-area: 1 / 1;
}

.flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.a-baseline {
    align-items: baseline;
}

.relative {
    position: relative;
}

.o-hidden {
    overflow: hidden;
}

[data-rolling] {
    overflow: hidden;
    width: min-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

[data-rolling]>* {
    display: flex;
    gap: 0.3rem;
}

[data-rolling]>*>div {
    display: flex;
    gap: 0.3rem;
}

[data-rolling] li {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
    flex: 1;
}