$font-path: '../fonts';

@mixin font-face($name, $file, $weight: normal, $style: normal) {
    @font-face {
        font-family: $name;
        src: url('#{$font-path}/#{$file}.woff2') format('woff2'),
        url('#{$font-path}/#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

$fonts: (
    'Poppins': (file: 'Poppins-Regular',
        weight: 400,
        style: normal),
    'Poppins-Medium': (file: 'Poppins-Medium',
        weight: 400,
        style: normal),
    'Poppins-Bold': (file: 'Poppins-Bold',
        weight: 700,
        style: normal),
    'Oswald': (file: 'Oswald-Regular',
        weight: 700,
        style: normal)
);

@each $family, $attrs in $fonts {
    $file : map-get($attrs, file);
    $weight : map-get($attrs, weight);
    $style : map-get($attrs, style);
    @include font-face($family, $file, $weight, $style);
}

.ppins-bold {
    font-family: "Poppins-Bold";

    >* {
        font-family: inherit;
    }
}

.ppins-Medium {
    font-family: "Poppins-Medium";

    >* {
        font-family: inherit;
    }
}