<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="mp pt-80 pb-120">
            <div class="container">
                <div class="i_Title flex f-col f-left a-start g-30">
                    <h1 class="f-40 lg:f-48 xl:f-56">Cookies</h1>
                    <ul class="flex update f-16 g-20">
                        <li>
                            <p>Updated date:2025/3/10</p>
                        </li>
                        <li>
                            <p>Effective date:2025/3/10</p>
                        </li>
                    </ul>
                </div>

                <div class="richText f-16 pt-60">
                    <h4 class="f-24 mb-10">Introduction</h4>
                    <p class="mb-10">
                        The website domain name is provided by (WELLTECH) (hereinafter referred to as "us"). When you use our services, we may collect and use your relevant information. We hope to explain to you through this Privacy Policy how we collect, use, store, and share this information when using our services, as well as the ways we provide you with access, updates, control, and protection of this information. This Privacy Policy is closely related to the website domain name service you use, and we hope you read it carefully and make appropriate choices according to the guidance of this Privacy Policy when needed. We try to use concise and clear technical terms involved in this Privacy Policy and provide you with the necessary information. Further explanation link for your understanding.
                    </p>
                    <p class="mb-10">
                        If you have any questions about this Privacy Policy or related matters, please contact us through our contact information.
                    </p>
                    <p class="mb-60">
                        By using or continuing to use our services, you agree to our collection, use, storage, and sharing of your relevant information in accordance with this Privacy Policy.
                    </p>

                    <h4 class="f-24 mb-10">1. The information we collect</h4>
                    <p class="mb-10">
                        When we or our third-party partners provide services, we may collect, store, and use the following information related to you. If you do not provide relevant information, you may not be able to register as our user or enjoy certain services we provide, or achieve the intended effects of the relevant services.
                    </p>
                    <p class="mb-10">
                        Personal information refers to the relevant personal information you provide to us when registering an account or using our services, such as phone numbers, emails, etc.
                    </p>
                    <p class="mb-10">
                        ・  Personal Information: The relevant personal information you provide to us when registering an account or using our services, such as phone numbers, emails, etc.
                    </p>
                    <p class="mb-10">
                        ・  Location information: refers to the information collected about your location when you enable the device positioning function and use our location-based services, including:
                    </p>
                    <p class="mb-10">
                        When you use our services through mobile devices with location capabilities, your geographic location information is collected through methods such as GPS or WiFi;
                    </p>
                    <p class="mb-10">
                        You can stop collecting your geographic location information by turning off the location function.
                    </p>
                    <p class="mb-60">
                        ・  Log information: refers to the information that the system may collect through cookies, identifiers, and related technologies when you use our services, including your device information, browsing information, and click information, and store such information as log information to provide you with personalized user experience and ensure service security. You can refuse or manage the use of cookies, identifiers, or related technologies through browser settings.
                    </p>

                    <h4 class="f-24 mb-10">2. Storage of Information</h4>
                    <p class="mb-10">
                        2.1 Information Storage Methods and Deadlines
                    </p>
                    <p class="mb-10">
                        ・  We will store your information in a secure manner, including local storage (such as using an app for data caching), databases, and server logs.
                    </p>
                    <p class="mb-10">
                        ・  In general, we will only store your personal information for the time necessary to achieve the service objectives or under the conditions stipulated by laws and regulations.
                    </p>
                    <p class="mb-10">
                        2.2 Geographic location of information storage
                    </p>
                    <p class="mb-10">
                        ・  We will store the personal information of users collected within China in accordance with laws and regulations.
                    </p>
                    <p class="mb-10">
                        ・  At present, we do not transfer or store your personal information across borders. If there is a need for cross-border transmission or storage in the future, we will inform you of the purpose of information export, the recipient, security measures, and security risks, and obtain your consent.
                    </p>
                    <p class="mb-10">
                        2.3 Notice of discontinuation of product or service operation
                    </p>
                    <p class="mb-60">
                        ・  When our products or services cease operation, we will notify you in the form of push notifications, announcements, etc., and delete your personal information or anonymize it within a reasonable period of time, except as otherwise provided by laws and regulations.
                    </p>

                    <h4 class="f-24 mb-10">3. Information security</h4>
                    <p class="mb-60">
                        We use various security technologies and procedures to prevent information loss, improper use, unauthorized access, or disclosure. For example, in some services, we will use encryption technology (such as SSL) to protect the personal information you provide. However, please understand that due to technical restrictions and possible malicious means, in the Internet industry, even if we try our best to strengthen security measures, it is impossible to always ensure 100% security of information. You need to understand that the system and communication network you use to access our services may encounter issues due to factors beyond our control.
                    </p>

                    <h4 class="f-24 mb-10">4. How we use information</h4>
                    <p class="mb-10">
                        We may use the information collected during the process of providing services to you for the following purposes:
                    </p>
                    <p class="mb-10">
                        ・  To provide services to you;
                    </p>
                    <p class="mb-10">
                        ・  When we provide services, we use them for identity verification, customer service, security prevention, fraud monitoring, archiving, and backup purposes to ensure the security of the products and services we provide to you;
                    </p>
                    <p class="mb-10">
                        ・  Help us design new services and improve our existing services;
                    </p>
                    <p class="mb-10">
                        ・  To enable us to better understand how you access and use our services, in order to respond to your personalized needs in a targeted manner, such as language settings, location settings, personalized help services and instructions, or to provide other responses to you and other users;
                    </p>
                    <p class="mb-10">
                        ・  Provide you with advertisements that are more relevant to you as an alternative to commonly placed advertisements;
                    </p>
                    <p class="mb-10">
                        ・  Evaluate the effectiveness of advertising and other promotional and advertising activities in our services, and make improvements accordingly;
                    </p>
                    <p class="mb-10">
                        ・  Software certification or management software upgrade;
                    </p>
                    <p class="mb-60">
                        ・  Let you participate in surveys about our products and services.
                    </p>

                    <h4 class="f-24 mb-10">5. Information sharing</h4>
                    <p class="mb-10">
                        At present, we do not actively share or transfer your personal information to third parties. If there are other situations where your personal information is shared or transferred, or if you need us to share or transfer your personal information to a third party, we will directly or confirm that the third party has obtained your explicit consent to the above actions.
                    </p>
                    <p class="mb-10">
                        In order to advertise, evaluate, and optimize advertising effectiveness, we need to share some of your data with third-party partners such as advertisers and their agents, and require them to strictly comply with our measures and requirements for data privacy protection, including but not limited to processing according to data protection agreements, commitment letters, and relevant data processing policies, to avoid identifying personal identities and ensure privacy and security.
                    </p>
                    <p class="mb-10">
                        We will not share information that can be used to identify your personal identity (such as your name or email address) with our partners unless you explicitly authorize it.
                    </p>
                    <p class="mb-10">
                        We will not publicly disclose the personal information we collect. If it is necessary to disclose it publicly, we will inform you of the purpose of this disclosure, the type of information disclosed, and the sensitive information that may be involved, and obtain your explicit consent.
                    </p>
                    <p class="mb-10">
                        As our business continues to develop, we may engage in mergers, acquisitions, asset transfers, and other transactions. We will inform you of the relevant circumstances and continue to protect or require new controllers to continue protecting your personal information in accordance with laws, regulations, and standards not lower than those required by this Privacy Policy.
                    </p>
                    <p class="mb-10">
                        In addition, according to relevant laws, regulations, and national standards, we may share, transfer, or publicly disclose personal information without obtaining your prior authorization and consent in the following situations:
                    </p>
                    <p class="mb-10">
                        ·  Directly related to national security and defense security;
                    </p>
                    <p class="mb-10">
                        ·  Directly related to public safety, public health, and major public interests;
                    </p>
                    <p class="mb-10">
                        ·  Directly related to criminal investigation, prosecution, trial, and execution of judgments;
                    </p>
                    <p class="mb-10">
                        ·  For the purpose of safeguarding the significant legitimate rights and interests of personal information subjects or other individuals, such as life and property, but it is difficult to obtain their consent;
                    </p>
                    <p class="mb-10">
                        ·  Individuals who disclose their personal information to the public on their own;
                    </p>
                    <p class="mb-60">
                        ·  Collecting personal information from legally disclosed information, such as legitimate news reports, government information disclosure, and other channels.
                    </p>

                    <h4 class="f-24 mb-10">6. Your Rights</h4>
                    <p class="mb-10">
                        During your use of our services, we may provide you with corresponding operational settings based on the specific situation of the product, so that you can query, delete, correct or withdraw your relevant personal information. You can refer to the corresponding specific guidelines for operation. In addition, we have established a complaint and reporting channel, and your opinions will be promptly addressed. If you are unable to exercise your personal information subject rights through the above channels and methods, you can make your request through the contact information provided in this Privacy Policy, and we will provide feedback in accordance with legal regulations.
                    </p>
                    <p class="mb-60">
                        When you decide to no longer use our products or services, you can apply to cancel your account. After account cancellation, unless otherwise stipulated by laws and regulations, we will delete or anonymize your personal information.
                    </p>

                    <h4 class="f-24 mb-10">7. Change</h4>
                    <p class="mb-60">
                        We may revise the terms of this Privacy Policy in a timely manner. When changes occur, we will notify you of the new Privacy Policy and inform you of the effective date during version updates. Please carefully read the updated Privacy Policy. If you continue to use our services, it means that you agree to our processing of your personal information in accordance with the updated Privacy Policy.
                    </p>

                    <h4 class="f-24 mb-10">8. Protection of Minors</h4>
                    <p>
                        We encourage parents or guardians to guide minors under the age of 18 to use our services. We recommend that minors encourage their parents or guardians to read this Privacy Policy and seek their consent and guidance before submitting personal information.
                    </p>
                </div>

            </div>
        </section>
    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>