<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="mp pt-80 pb-120">
            <div class="container">
                <div class="i_Title flex f-col f-left a-start g-30">
                    <h1 class="f-40 lg:f-48 xl:f-56">Disclaimers</h1>
                    <ul class="flex update f-16 g-20">
                        <li>
                            <p>Updated date:2025/3/10</p>
                        </li>
                        <li>
                            <p>Effective date:2025/3/10</p>
                        </li>
                    </ul>
                </div>

                <div class="richText f-16 pt-60">
                    <h4 class="f-24 mb-10">Article 1</h4>
                    <p class="mb-60">
                        All information and charts published in this website are for reference only. The publication of these documents does not constitute an offer or an intention to acquire, buy, subscribe for, sell or hold any shares. Persons who refer to the documents published on this website shall be deemed to have confirmed their knowledge of the above position. The profits and losses caused by investors' financial and securities investment projects based on the information, data and charts provided on this website have nothing to do with this website.
                    </p>

                    <h4 class="f-24 mb-10">Article 2</h4>
                    <p class="mb-60">
                        When the users of this website participate in various activities held on the website, we will require you to provide some personal information, such as your name, gender, age, date of birth, ID number, home address, education level, enterprise information, industry, etc., through the form of registration with your consent and confirmation. Please be absolutely assured that we will never disclose any of your information to any third party in any way without your consent.
                    </p>

                    <h4 class="f-24 mb-10">Article 3</h4>
                    <p class="mb-60">
                        TWhen the judicial authorities of the government require this website to disclose personal data in accordance with legal procedures, we will provide personal data in accordance with the request of law enforcement authorities or for the purpose of public safety. This website is exempt from any disclosure under such circumstances.
                    </p>

                    <h4 class="f-24 mb-10">Article 4</h4>
                    <p class="mb-60">
                        This website is not responsible for any personal information disclosure caused by the user informing others of his or her personal password or sharing the registered account with others.
                    </p>

                    <h4 class="f-24 mb-10">Article 5</h4>
                    <p class="mb-60">
                        Any caused by hacking attacks, computer viruses or outbreaks, or government controls. Temporary shutdown and other force majeure affecting the normal operation of the network caused by personal data disclosure, loss, theft or tampering, this website is exempt from liability.
                    </p>

                    <h4 class="f-24 mb-10">Article 6</h4>
                    <p class="mb-60">
                        Due to the disclosure of personal data caused by other websites linked to this website and any legal disputes and consequences resulting therefrom, this website is exempt from liability.site. 
                    </p>

                    <h4 class="f-24 mb-10">Article 7</h4>
                    <p class="mb-10">
                        If this website needs to suspend service due to system maintenance or upgrade, it will be announced in advance. If the service is suspended due to line and hardware failure outside the control of the company or other force majeure, the website will not be responsible for all inconvenience and loss caused during the suspension of service.
                    </p>
                    <p class="mb-60">
                        When you decide to no longer use our products or services, you can apply to cancel your account. After account cancellation, unless otherwise stipulated by laws and regulations, we will delete or anonymize your personal information.
                    </p>

                    <h4 class="f-24 mb-10">Article 8</h4>
                    <p class="mb-60">
                        If the users of this website violate the laws of the People's Republic of China because they violate the provisions of this statement, they are responsible for all consequences, and this website does not assume any responsibility.
                    </p>

                    <h4 class="f-24 mb-10">Article 9</h4>
                    <p class="mb-60">
                        Anyone who logs in to this website in any way or directly or indirectly uses the information on this website is deemed to be voluntarily bound by this website statement.
                    </p>

                    <h4 class="f-24 mb-10">Article 10</h4>
                    <p class="mb-60">
                        For issues not covered in this statement, refer to relevant national laws and regulations. In case of conflict between this statement and national laws and regulations, the national laws and regulations shall prevail.
                    </p>

                    <h4 class="f-24 mb-10">Article 11</h4>
                    <p>
                        The statement on this website, as well as the right to modify, update and final interpretation of it, belong to the (Fried Dumpling Prince).
                    </p>
                </div>

            </div>
        </section>
    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>