<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="grzx pt-60 pb-100 md:pb-120">
            <div class="container">
                <div class="radius-8 grzx_1 mb-50">
                    <p class="name f-32 ppins-bold">Name</p>
                    <div class="xx">
                        <ul>
                            <li><p>Account:<span>1221212</span></p></li>
                            <li><p>Contact Information:<span>1221212</span></p></li>
                            <li><p>Country/Region:<span>1221212</span></p></li>
                            <li><p>Company Name:<span>1221212</span></p></li>
                        </ul>
                        <a href="#" data-gofancy="set">Set up <img src="src/images/img-103.png" alt="up"></a>
                    </div>
                </div>

                <div class="dingdantop">
                    <ul class="xiangxi">
                        <li>Inquiry number: <span>SQ0011744285056320</span></li><span>|</span>
                        <li>Name: Wanwan</li><span>|</span>
                        <li>Phone: 1289748765</li><span>|</span>
                        <li>Email: 187643.com</li><span>|</span>
                        <li>Company Name: Growth Superman</li><span>|</span>
                        <li>Country/Region: Shenzhen, China</li>
                    </ul>
                    <div class="dingdan radius-8 relative o-hidden">
                        <div class="t">
                            <p>Drawing</p>
                            <p>Model information</p>
                            <p>Quantity (piece)</p>
                            <p>*Product materials</p>
                            <p>*Delivery time</p>
                            <p>Unit price (yuan)</p>
                            <p>Total price (yuan)</p>
                            <p>Operate</p>
                        </div>
                        <div class="b_list">
                            <div class="b_item">
                                <div class="i">
                                    <img src="src/images/img-88.jpg" alt="i">
                                </div>
                                <div class="name">
                                    <p>File Name File Name</p>
                                </div>
                                <div class="num ">
                                    <p>1</p>
                                </div>
                                <div class="">
                                    <p>Material: High nitrogen non-magnetic</p>
                                    <p>stainless steel - P550</p>
                                    <p>Oxidation (aluminum alloy) - Anodizing -</p>
                                    <p>Natural color -10 μ m-15 μ m</p>
                                </div>
                                <div class="">
                                    <p>Within 30 days</p>
                                </div>
                                <div class="">
                                    <p class="tishi">In the quotation</p>
                                </div>
                                <div class="">
                                    <p class="tishi">In the quotation</p>
                                </div>
                                <div class="anniu_this" data-gofancy="scht">
                                    <div class="anniu_1">
                                        <img src="src/images/img-104.png" alt="i">
                                    </div>
                                    <div class="anniu_2">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zs">
                        <p>Order notes, order notes, order notes, order notes, order notes,  order notes</p>
                    </div>
                </div>

                <div class="dingdantop">
                    <ul class="xiangxi">
                        <li>Inquiry number: <span>SQ0011744285056320</span></li><span>|</span>
                        <li>Name: Wanwan</li><span>|</span>
                        <li>Phone: 1289748765</li><span>|</span>
                        <li>Email: 187643.com</li><span>|</span>
                        <li>Company Name: Growth Superman</li><span>|</span>
                        <li>Country/Region: Shenzhen, China</li>
                    </ul>
                    <div class="dingdan radius-8 relative o-hidden">
                        <div class="t">
                            <p>Drawing</p>
                            <p>Model information</p>
                            <p>Quantity (piece)</p>
                            <p>*Product materials</p>
                            <p>*Delivery time</p>
                            <p>Unit price (yuan)</p>
                            <p>Total price (yuan)</p>
                            <p>Operate</p>
                        </div>
                        <div class="b_list">
                            <div class="b_item">
                                <div class="i">
                                    <img src="src/images/img-88.jpg" alt="i">
                                </div>
                                <div class="name">
                                    <p>File Name File Name</p>
                                </div>
                                <div class="num ">
                                    <p>1</p>
                                </div>
                                <div class="">
                                    <p>Material: High nitrogen non-magnetic</p>
                                    <p>stainless steel - P550</p>
                                    <p>Oxidation (aluminum alloy) - Anodizing -</p>
                                    <p>Natural color -10 μ m-15 μ m</p>
                                </div>
                                <div class="">
                                    <p>Within 30 days</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">200</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">400</p>
                                </div>
                                <div class="anniu_this">
                                    <div class="anniu_1">
                                        <img src="src/images/img-104.png" alt="i">
                                    </div>
                                    <div class="anniu_2">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zs">
                        <p>Order notes, order notes, order notes, order notes, order notes,  order notes</p>
                    </div>
                </div>

                <div class="dingdantop">
                    <ul class="xiangxi">
                        <li>Inquiry number: <span>SQ0011744285056320</span></li><span>|</span>
                        <li>Name: Wanwan</li><span>|</span>
                        <li>Phone: 1289748765</li><span>|</span>
                        <li>Email: 187643.com</li><span>|</span>
                        <li>Company Name: Growth Superman</li><span>|</span>
                        <li>Country/Region: Shenzhen, China</li>
                    </ul>
                    <div class="dingdan radius-8 relative o-hidden">
                        <div class="t">
                            <p>Drawing</p>
                            <p>Model information</p>
                            <p>Quantity (piece)</p>
                            <p>*Product materials</p>
                            <p>*Delivery time</p>
                            <p>Unit price (yuan)</p>
                            <p>Total price (yuan)</p>
                            <p>Operate</p>
                        </div>
                        <div class="b_list">
                            <div class="b_item">
                                <div class="i">
                                    <img src="src/images/img-88.jpg" alt="i">
                                </div>
                                <div class="name">
                                    <p>File Name File Name</p>
                                </div>
                                <div class="num ">
                                    <p>1</p>
                                </div>
                                <div class="">
                                    <p>Material: High nitrogen non-magnetic</p>
                                    <p>stainless steel - P550</p>
                                    <p>Oxidation (aluminum alloy) - Anodizing -</p>
                                    <p>Natural color -10 μ m-15 μ m</p>
                                </div>
                                <div class="">
                                    <p>Within 30 days</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">200</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">400</p>
                                </div>
                                <div class="anniu_this">
                                    <div class="anniu_1">
                                        <img src="src/images/img-104.png" alt="i">
                                    </div>
                                    <div class="anniu_2">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zs">
                        <p>Order notes, order notes, order notes, order notes, order notes,  order notes</p>
                    </div>
                </div>
                
                <div class="dingdantop">
                    <ul class="xiangxi">
                        <li>Inquiry number: <span>SQ0011744285056320</span></li><span>|</span>
                        <li>Name: Wanwan</li><span>|</span>
                        <li>Phone: 1289748765</li><span>|</span>
                        <li>Email: 187643.com</li><span>|</span>
                        <li>Company Name: Growth Superman</li><span>|</span>
                        <li>Country/Region: Shenzhen, China</li>
                    </ul>
                    <div class="dingdan radius-8 relative o-hidden">
                        <div class="t">
                            <p>Drawing</p>
                            <p>Model information</p>
                            <p>Quantity (piece)</p>
                            <p>*Product materials</p>
                            <p>*Delivery time</p>
                            <p>Unit price (yuan)</p>
                            <p>Total price (yuan)</p>
                            <p>Operate</p>
                        </div>
                        <div class="b_list">
                            <div class="b_item">
                                <div class="i">
                                    <img src="src/images/img-88.jpg" alt="i">
                                </div>
                                <div class="name">
                                    <p>File Name File Name</p>
                                </div>
                                <div class="num ">
                                    <p>1</p>
                                </div>
                                <div class="">
                                    <p>Material: High nitrogen non-magnetic</p>
                                    <p>stainless steel - P550</p>
                                    <p>Oxidation (aluminum alloy) - Anodizing -</p>
                                    <p>Natural color -10 μ m-15 μ m</p>
                                </div>
                                <div class="">
                                    <p>Within 30 days</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">200</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">400</p>
                                </div>
                                <div class="anniu_this">
                                    <div class="anniu_1">
                                        <img src="src/images/img-104.png" alt="i">
                                    </div>
                                    <div class="anniu_2">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zs">
                        <p>Order notes, order notes, order notes, order notes, order notes,  order notes</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="set_up_fanc fancy" data-fancy="scht">
            <div class="set_up_fanc_box">
                <div class="set_up_fanc_box_top">
                    <div class="set_up_fanc_box_top_i">
                        <img src="src/images/img-134.png" alt="set">
                    </div>
                    <div class="set_up_fanc_box_top_l mt-20 mb-40">
                        <p class="f-18 md:f-24 f-center">Do you want to delete this drawing?</p>
                    </div>
                    <div class="set_up_fanc_box_top_btn">
                        <a href="#" class="btn btn-normal">Cancel</a>
                        <a href="#" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
                <div class="set_up_fanc_box_close fancy_close">
                    <img src="src/images/img-135.png" alt="close">
                </div>
            </div>
        </section>

        <section class="set_up_fanc fancy" data-fancy="set">
            <div class="set_up_fanc_box">
                <div class="set_up_fanc_box_top_header">
                    <div class="set_up_fanc_box_top_title ppins-Medium">
                        <p>Modify personal information</p>
                    </div>
                    <form action="">
                        <div class="form flex f-col g-10 mb-20">
                            <div class="e_input form-group">
                                <label class="p_label f-16 ppins-Medium">Name</label>
                                <div class="p_group">
                                    <div class="input-group">
                                        <input type="text" class="p_input f-14" name="text" data-name="e_input-1" placeholder="Your Name?">
                                    </div>
                                </div>
                            </div>
                            <div class="e_input form-group">
                                <label class="p_label f-16 ppins-Medium">Phone</label>
                                <div class="p_group">
                                    <div class="input-group">
                                        <input type="text" class="p_input f-14" name="text" data-name="e_input-2" placeholder="Your Phone?">
                                    </div>
                                </div>
                            </div>
                            <div class="e_input form-group">
                                <label class="p_label f-16 ppins-Medium">Email</label>
                                <div class="p_group">
                                    <div class="input-group">
                                        <input type="text" class="p_input f-14" name="text" data-name="e_input-3" placeholder="Your Email?">
                                    </div>
                                </div>
                            </div>
                            <div class="e_input form-group">
                                <label class="p_label f-16 ppins-Medium">Corporate name</label>
                                <div class="p_group">
                                    <div class="input-group">
                                        <input type="text" class="p_input f-14" name="text" data-name="e_input-4" placeholder="Your Corporate name?">
                                    </div>
                                </div>
                            </div>
                            <div class="e_input form-group">
                                <label class="p_label f-16 ppins-Medium">Country/Region</label>
                                <div class="p_group">
                                    <div class="input-group">
                                        <input type="text" class="p_input f-14" name="text" data-name="e_input-5" placeholder="Your Country/Region?">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="set_up_fanc_box_top_btn">
                            <a href="#" class="btn btn-normal">Cancel</a>
                            <a href="#" class="btn btn-primary">Save</a>
                        </div>
                    </form>
                </div>
                <div class="set_up_fanc_box_close fancy_close">
                    <img src="src/images/img-135.png" alt="close">
                </div>
            </div>
        </section>

    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>