<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="quote grzx_detail pt-100 md:pt-120">
            <div class="container">
                <div class="quoteBox_success">
                    <div class="c_h4 flex a-center j-between g-20">
                        <h4 class="f-28 md:f-32">Online quotation</h4>
                        <div class="d_or_b flex a-center g-40">
                            <a href="#" class="goback flex a-center g-10"><img src="src/images/img-105.png" alt="i"><span>Go Back</span></a>
                            <a href="javascript:;" class="btn btn-bc">Delete quotation</a>
                        </div>
                    </div>
                    <div class="xx">
                        <ul>
                            <li><p>Inquiry number:<span>SQ0011744285056320</span></p></li>
                            <li><p>Name:<span>Wanwan</span></p></li>
                            <li><p>Phone:<span>1289748765</span></p></li>
                            <li><p>Email:<span>187643.com</span></p></li>
                            <li><p>Company Name:<span>Growth Superman</span></p></li>
                            <li><p>Country/Region:<span>Shenzhen, China</span></p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="quote_require grzx_detail_2">
            <div class="container">

                <div class="dingdantop">
                    <ul class="xiangxi">
                        <li>Inquiry number: <span>SQ0011744285056320</span></li><span>|</span>
                        <li>Name: Wanwan</li><span>|</span>
                        <li>Phone: 1289748765</li><span>|</span>
                        <li>Email: 187643.com</li><span>|</span>
                        <li>Company Name: Growth Superman</li><span>|</span>
                        <li>Country/Region: Shenzhen, China</li>
                    </ul>
                    <div class="dingdan radius-8 relative o-hidden">
                        <div class="t">
                            <p>Drawing</p>
                            <p>Model information</p>
                            <p>Quantity (piece)</p>
                            <p>*Product materials</p>
                            <p>*Delivery time</p>
                            <p>Unit price (yuan)</p>
                            <p>Total price (yuan)</p>
                            <p>Operate</p>
                        </div>
                        <div class="b_list">
                            <div class="b_item">
                                <div class="i">
                                    <img src="src/images/img-88.jpg" alt="i">
                                </div>
                                <div class="name">
                                    <p>File Name File Name</p>
                                </div>
                                <div class="num ">
                                    <p>1</p>
                                </div>
                                <div class="">
                                    <p>Material: High nitrogen non-magnetic</p>
                                    <p>stainless steel - P550</p>
                                    <p>Oxidation (aluminum alloy) - Anodizing -</p>
                                    <p>Natural color -10 μ m-15 μ m</p>
                                </div>
                                <div class="">
                                    <p>Within 30 days</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">200</p>
                                </div>
                                <div class="">
                                    <p class="tishi_end">400</p>
                                </div>
                                <div class="anniu_this">
                                    <div class="anniu_1">
                                        <img src="src/images/img-104.png" alt="i">
                                    </div>
                                    <div class="anniu_2">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zs">
                        <p>Order notes, order notes, order notes, order notes, order notes,  order notes</p>
                    </div>
                </div>

                <div class="quote_2 mt-20">
                    <div class="q_title flex j-between g-20 a-center">
                        <p class="f-24 ppins-Medium">Machining</p>
                    </div>
                    <div class="quote_2_Box radius-8 relative">
                        <div class="t">
                            <p class="f-20 flex a-center g-10">
                                <img src="src/images/img-91.png" alt="i">
                                <span class="ppins-Medium">Raw material</span>
                            </p>
                        </div>
                        <div class="b grid grid-2">
                            <p>Stainless Steel - High Nitrogen Non Magnetic Stainless Steel-P550</p>
                        </div>
                        <div class="t mt-40">
                            <p class="f-20 flex a-center g-10">
                                <img src="src/images/img-93.png" alt="i">
                                <span class="ppins-Medium">Surface treatment</span>
                            </p>
                        </div>
                        <div class="b">
                            <div class="st_list">
                                <div class="st_item">
                                    <p class="bt">Surface treatment <span>1</span>:</p>
                                    <div class="st_formBox">
                                        <div class="b_item">
                                            <p>Polytetrafluoroethylene resin coating</p>
                                            <p>Anodic oxidation</p>
                                            <p>true  qualities</p>
                                            <p>10μm-15μm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="st_item">
                                    <p class="bt">Surface treatment <span>2</span>:</p>
                                    <div class="st_formBox">
                                        <div class="b_item">
                                            <p>Polytetrafluoroethylene resin coating</p>
                                            <p>Anodic oxidation</p>
                                            <p>true  qualities</p>
                                            <p>10μm-15μm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="st_item">
                                    <p class="bt">Surface treatment <span>3</span>:</p>
                                    <div class="st_formBox">
                                        <div class="b_item">
                                            <p>Polytetrafluoroethylene resin coating</p>
                                            <p>Anodic oxidation</p>
                                            <p>true  qualities</p>
                                            <p>10μm-15μm</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quote_options">
                    <div class="container">
                        <div class="form_input radio_module">
                            <div class="e_input-5 form-group">
                                <label class="p_label f-16">Unmarked tolerance requirements:</label>
                                <div class="radioList flex a-center g-30 f-14 mb-10">
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>IT12</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>IT10</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>GB/T 1804-f</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>GB/T 1804-m</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item other flex">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>other</p>
                                        </label>
                                        <div class="p_group radiobox_other_input">
                                            <div class="input-group">
                                                <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_input radio_module">
                            <div class="e_input-5 form-group">
                                <label class="p_label f-16">Roughness requirement:</label>
                                <div class="radioList flex a-center g-30 f-14 mb-10">
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>Ra 3.2</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>Ra 1.6</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>Ra 0.8</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>Ra 0.4</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item other flex">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>other</p>
                                        </label>
                                        <div class="p_group radiobox_other_input">
                                            <div class="input-group">
                                                <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_input radio_module">
                            <div class="e_input-5 form-group">
                                <label class="p_label f-16">The strictest tolerance requirement:</label>
                                <div class="radioList flex a-center g-30 f-14 mb-10">
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>±0.01</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>±0.02</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>±0.03</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>±0.05</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>±0.10</p>
                                        </label>
                                    </div>
                                    <div class="radiobox_Item other flex">
                                        <input class="input-radio" type="radio">
                                        <label class="radiobox">
                                            <i class="radio"></i>
                                            <p>other</p>
                                        </label>
                                        <div class="p_group radiobox_other_input">
                                            <div class="input-group">
                                                <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>