<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="homeBanner grid g-one">
            <div class="homeBanner_left flex">
                <div class="homeBanner_left_Box">
                    <p class="f-14 md:f-16 ppins-Medium title"><a href="#">Precision manufacturing process</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Special arts and crafts</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Precision deep hole machining</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Deep hole drilling eccentric hole</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Ultra deep gun drill</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Thin shaft machining</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Thread rolling</a></p>
                </div>
                <div class="homeBanner_left_Box">
                    <p class="f-14 md:f-16 ppins-Medium title"><a href="#">Precision manufacturing process</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Special arts and crafts</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Precision deep hole machining</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Deep hole drilling eccentric hole</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Ultra deep gun drill</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Thin shaft machining</a></p>
                    <p class="f-12 md:f-14 op-6"><a href="#">Thread rolling</a></p>
                </div>
            </div>
            <div class="index_banner swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="index_img">
                            <img src="src/images/img-110.jpg" alt="i">
                        </div>
                        <div class="index_title">
                            <div class="index_title_top">
                                <p class="f-40 lg:f-48">Create your customized project</p>
                                <p class="f-48 lg:f-80 ppins-bold">beyond expectations</p>
                            </div>
                            <div class="index_title_bottom">
                                <p class="f-14 lg:f-18">To provide you with unparalleled processing services</p>
                                <a href="#" class="btn btn-f" hover-word="Get a quote now"><span>Get a quote now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="index_img">
                            <img src="src/images/img-110.jpg" alt="i">
                        </div>
                        <div class="index_title">
                            <div class="index_title_top">
                                <p class="f-40 lg:f-48">Create your customized project</p>
                                <p class="f-48 lg:f-80 ppins-bold">beyond expectations</p>
                            </div>
                            <div class="index_title_bottom">
                                <p class="f-14 lg:f-18">To provide you with unparalleled processing services</p>
                                <a href="#" class="btn btn-f">Get a quote now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="index_img">
                            <img src="src/images/img-110.jpg" alt="i">
                        </div>
                        <div class="index_title">
                            <div class="index_title_top">
                                <p class="f-40 lg:f-48">Create your customized project</p>
                                <p class="f-48 lg:f-80 ppins-bold">beyond expectations</p>
                            </div>
                            <div class="index_title_bottom">
                                <p class="f-14 lg:f-18">To provide you with unparalleled processing services</p>
                                <a href="#" class="btn btn-f">Get a quote now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index_banner_arr">
                    <div class="container">
                        <div class="swiper-button-prev">
                            <img src="src/images/img-111.png" alt="i">
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next">
                            <img src="src/images/img-112.png" alt="i">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="i i2">
            <div class="a2_info pt-100 pb-60 md:pt-120">
                <div class="container flex g-20 j-between">
                    <div class="c_h3">
                        <h3 class="f-40 lg:f-48">WELLTECH</h3>
                        <a href="#" class="btn btn-bc mt-60">Explore more</a>
                    </div>
                    <div class="c_rich">
                        <p>Zhonghai Wantai is a mixed ownership high-tech enterprise under CNOOC, focusing on the research and development of
                            high-end equipment in the field of offshore oil and gas exploration and development. </p>
                        <p>As the first digital intelligent production base for the "Xuanji" system (rotary directional drilling and logging
                            while drilling technology) in China, the company has overcome international leading technologies such as deep hole
                            gun drilling and laser cladding, obtained API Q1 international certification, and built a full industry chain system
                            for research and development design, precision machining, and final assembly testing. </p>
                        <p>Its core products have broken through the bottleneck of domestication of deep-sea oil and gas equipment, with
                            technical indicators reaching the world's advanced level. </p>
                        <p>It is committed to becoming a one-stop solution provider for global marine engineering equipment and promoting the
                            implementation of the national major equipment self-reliance strategy.</p>
                    </div>
                </div>
            </div>
            <div class="i2_img"></div>
            <div class="ab_bottom">
                <div class="container">
                    <ul>
                        <li>
                            <div class="ab_bottom_ico">
                                <img src="src/images/img-115.png" alt="a3">
                            </div>
                            <div class="ab_bottom_info">
                                <h5 class="mb-10">Five major workshops</h5>
                                <p><i class="num" data-num="5">5</i></p>
                            </div>
                        </li>
                        <li>
                            <div class="ab_bottom_ico">
                                <img src="src/images/img-116.png" alt="a3">
                            </div>
                            <div class="ab_bottom_info">
                                <h5 class="mb-10">Large equipment</h5>
                                <p><i class="num" data-num="200">200</i> <span>+</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="ab_bottom_ico">
                                <img src="src/images/img-117.png" alt="a3">
                            </div>
                            <div class="ab_bottom_info">
                                <h5 class="mb-10">Annual production equipment</h5>
                                <p><i class="num" data-num="100">100</i> <span>+</span></p>

                            </div>
                        </li>
                        <li>
                            <div class="ab_bottom_ico">
                                <img src="src/images/img-118.png" alt="a3">
                            </div>
                            <div class="ab_bottom_info">
                                <h5 class="mb-10">Maintenance capability</h5>
                                <p><i class="num" data-num="T4">T4</i> <span>+</span></p>
                            </div>
                        </li>
                    </ul>
                    <div class="ab_bottom_title">
                        <p class="t1">Accurate in the <span>slightest detail</span><br> with long-lasting quality</p>
                        <span></span>
                        <p class="t2 f-24">Strict control of details throughout the process, craftsmanship achieves excellence</p>
                    </div>
                    <div class="ab_bottom_three">
                        <ul>
                            <li>
                                <p>System certification</p>
                                <div class="ab_bottom_three_ico">
                                    <img src="src/svg/i-15.svg" alt="a3">
                                    <img src="src/svg/i-16.svg" alt="a3">
                                </div>
                            </li>
                            <li>
                                <p>Detectability</p>
                                <div class="ab_bottom_three_ico">
                                    <img src="src/svg/i-15.svg" alt="a3">
                                    <img src="src/svg/i-16.svg" alt="a3">
                                </div>
                            </li>
                            <li>
                                <p>Six major experimental platforms</p>
                                <div class="ab_bottom_three_ico">
                                    <img src="src/svg/i-15.svg" alt="a3">
                                    <img src="src/svg/i-16.svg" alt="a3">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ab_bottom_more mt-40 flex j-center a-center">
                        <a href="#" class="btn btn-bc">Explore more</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="i i3 grid g-one">
            <div class="videos_bg">
                <video class="video" src="src/videos/podVideo.mp4" alt="videos"
                    poster="src/images/img-120.jpg" muted="" webkit-playsinline="true" controlslist="nodownload"
                    x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="false"
                    preload="auto" loop="" autoplay>
                </video>
            </div>
            <div class="video_title">
                <div class="container">
                    <div class="video_title_info">
                        <h3 class="f-40 lg:f-48 mb-20">Crafting quality with precision<span>guarding trust with perseverance</span></h3>
                        <p class="f-18">We bring you professional one-stop solutions</p>
                    </div>
                    <div class="video_title_btn circle-ani">
                        <a href="#" class="more_btn">
                            <svg width="360" height="360" viewBox="0 0 360 360" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="180" cy="180" r="178" fill="none" stroke="#fff" stroke-width="1" />
                            </svg>
                            <img src="src/svg/i-17.svg" alt="i">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="i i4 pt-100 pb-100 md:pt-120 md:pb-120">
            <div class="container">
                <div class="c_h3 flex a-center j-between">
                    <h3 class="f-28 md:f-32 lg:f-48">Case</h3>
                    <a href="javascript:;" class="f-16 flex a-center g-30">Explore all case <span><img src="src/images/img-33.png" alt="gallery"></span></a>
                </div>
                <% const caseList = [
                            { img: 'src/images/img-03.jpg' },
                            { img: 'src/images/img-04.jpg' },
                            { img: 'src/images/img-05.jpg' }
                        ]; %>
                <div class="c_list_1 g-30 mt-60">
                    <% caseList.forEach(item => { %>
                    <a href="javascript:;" class="c_item radius-8 relative o-hidden">
                        <div class="c_img radius-8 relative o-hidden">
                        <img src="<%= item.img %>" alt="Customer case">
                        </div>
                        <div class="c_info radius-8 pl-30 pr-30 pt-30 pb-30 relative">
                        <p class="t f-24">Case name</p>
                        <p class="s f-16">Case Summary Occupancy Case Summary</p>
                        <div class="i mt-30 op-0">
                            <img src="src/images/img-02.png" alt="Customer case">
                        </div>
                        </div>
                    </a>
                    <% }) %>
                </div>
                <div class="case_line"></div>
                <div class="case_rolling" data-rolling>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                    <div class="case_rolling_img">
                        <img src="src/images/img-121.jpg" alt="case">
                    </div>
                </div>
            </div>
        </section>

        <section class="i i5 pt-100 pb-100 md:pt-120 md:pb-120">
            <div class="container">
                <div class="c_h3 flex a-center j-between">
                    <h3 class="f-28 md:f-32 lg:f-48">News</h3>
                    <a href="javascript:;" class="f-16 flex a-center g-30">Explore all news <span><img src="src/images/img-33.png" alt="gallery"></span></a>
                </div>
            </div>
            <div class="news_list mt-60">
                <div class="news_item">
                    <div class="container">
                        <a href="#" class="news_box">
                            <div class="news_time">
                                <time>2025.03.10</time>
                            </div>
                            <div class="news_type">
                                <p>Group News</p>
                            </div>
                            <div class="news_title">
                                <p>Article Title Occupancy Article Title Occupancy</p>
                            </div>
                            <div class="news_img">
                                <div class="news_img_box radius-8 relative o-hidden">
                                    <img src="src/images/img-123.jpg" alt="news">
                                </div>
                            </div>
                            <div class="news_more">
                                <img src="src/images/img-122.png" alt="newsmore">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="news_item">
                    <div class="container">
                        <a href="#" class="news_box">
                            <div class="news_time">
                                <time>2025.03.10</time>
                            </div>
                            <div class="news_type">
                                <p>Group News</p>
                            </div>
                            <div class="news_title">
                                <p>Article Title Occupancy Article Title Occupancy</p>
                            </div>
                            <div class="news_img">
                                <div class="news_img_box radius-8 relative o-hidden">
                                    <img src="src/images/img-121.jpg" alt="news">
                                </div>
                            </div>
                            <div class="news_more">
                                <img src="src/images/img-122.png" alt="newsmore">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="news_item">
                    <div class="container">
                        <a href="#" class="news_box">
                            <div class="news_time">
                                <time>2025.03.10</time>
                            </div>
                            <div class="news_type">
                                <p>Group News</p>
                            </div>
                            <div class="news_title">
                                <p>Article Title Occupancy Article Title Occupancy</p>
                            </div>
                            <div class="news_img">
                                <div class="news_img_box radius-8 relative o-hidden">
                                    <img src="src/images/img-123.jpg" alt="news">
                                </div>
                            </div>
                            <div class="news_more">
                                <img src="src/images/img-122.png" alt="newsmore">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="news_item">
                    <div class="container">
                        <a href="#" class="news_box">
                            <div class="news_time">
                                <time>2025.03.10</time>
                            </div>
                            <div class="news_type">
                                <p>Group News</p>
                            </div>
                            <div class="news_title">
                                <p>Article Title Occupancy Article Title Occupancy</p>
                            </div>
                            <div class="news_img">
                                <div class="news_img_box radius-8 relative o-hidden">
                                    <img src="src/images/img-121.jpg" alt="news">
                                </div>
                            </div>
                            <div class="news_more">
                                <img src="src/images/img-122.png" alt="newsmore">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="i i6 pt-100 pb-100 md:pt-120 md:pb-120">
            <div class="container">
                <div class="c_h3 flex f-col j-between">
                    <h3 class="f-28 md:f-32 lg:f-48">Shorten errors with technology</h3>
                    <p class="f-28 md:f-32 lg:f-48">and fulfill promises with precision</p>
                </div>
                <div class="l_column l_technology_1 grid g-one">
                    <div class="l_technology_1_img">
                        <img src="src/images/img-124.png" alt="technology">
                    </div>
                    <div class="container">
                        <div class="l_technology_1_info flex f-col j-end">
                            <p class="f-18 mb-30">Let precision manufacturing understand you better - one click quotation, unlock efficient production password</p>
                            <a href="javascript:;" class="btn btn-f">Get a quote now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- footer %>
    
    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>