<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <main class="main">
        <section class="quote pt-100 md:pt-120">
            <div class="container">
                <div class="quoteBox_success">
                    <div class="c_h4 flex a-center j-between g-20">
                        <h4 class="f-28 md:f-32">Provide one-stop services for rapid prototyping and mass production of drawings</h4>
                        <a href="javascript:;" class="btn btn-bc">Personal center</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="quote_require">
            <div class="container">
                <form action="">
                    <div class="quote_1">
                        <div class="q_title flex j-between g-20 a-center">
                            <p class="f-24 ppins-Medium">Inquiry number:  <span>SQ0011744285056320</span></p>
                            <div class="quote_require_more flex a-center">
                                <a href="javascript:;" class="flex a-center g-10">
                                    <span class="f-14">Re upload drawings</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="11px" viewBox="0 0 7 11">
                                        <path d="M6.001,6.318 L1.758,10.561 C1.368,10.952 0.734,10.952 0.344,10.561 C-0.047,10.170 -0.047,9.538 0.344,9.147 L3.880,5.611 L0.344,2.076 C-0.047,1.685 -0.047,1.052 0.344,0.662 C0.734,0.271 1.368,0.271 1.758,0.662 L6.001,4.904 C6.391,5.295 6.391,5.928 6.001,6.318 Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="quote_1_xx radius-8 relative">
                            <div class="t">
                                <p>Drawing</p>
                                <p>Model information</p>
                                <p>Quantity (piece)</p>
                                <p>*Product materials</p>
                                <p>*Delivery time</p>
                                <p>Unit price (yuan)</p>
                                <p>Total price (yuan)</p>
                                <p>Operate</p>
                            </div>
                            <div class="b_list">
                                <div class="b_item">
                                    <div class="i">
                                        <img src="src/images/img-88.jpg" alt="i">
                                    </div>
                                    <div class="name form_input">
                                        <div class="e_input-5 form-group">
                                            <div class="p_group">
                                                <div class="input-group">
                                                    <input type="text" class="p_input f-16" name="text" data-name="e_input-1" placeholder="File name" autocomplete="off">
                                                    <img src="src/images/img-89.png" alt="i">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="num form_input">
                                        <div class="e_input-6 form-group">
                                            <div class="p_group">
                                                <div class="input-group">
                                                    <input type="number" class="p_input f-16" name="text" data-name="e_input-2" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_input">
                                        
                                    </div>
                                    <div class="form_input">
                                        <div class="e_input-8 form-group">
                                            <div class="p_group">
                                                <div class="input-group">
                                                    <input type="text" class="p_input f-16" name="text" data-name="e_input-4" autocomplete="off">
                                                </div>
                                                <div class="input_hint">
                                                    <p>Please enter your delivery time requirement here</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form_input">
                                        
                                    </div>
                                    <div class="form_input">
                                        
                                    </div>
                                    <div class="delete_this">
                                        <img src="src/images/img-90.png" alt="i">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="quote_2 mt-20">
                        <div class="q_title flex j-between g-20 a-center">
                            <p class="f-24 ppins-Medium">Machining</p>
                        </div>
                        <div class="quote_2_Box radius-8 relative">
                            <div class="t">
                                <p class="f-20 flex a-center g-10">
                                    <img src="src/images/img-91.png" alt="i">
                                    <span class="ppins-Medium">Raw material</span>
                                </p>
                            </div>
                            <div class="b grid grid-2">
                                <div class="left">
                                    <div class="l_t">
                                        <p class="ppins-bold"><span>Classification</span></p>
                                    </div>
                                    <div class="b_list flex f-col">
                                        <div class="b_item">
                                            <p>
                                                <span>Stainless steel</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Nickel base superalloy</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Titanium alloy</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Copper alloy</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Aluminum alloy</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Tungsten copper</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Wear resistant tape</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Advanced special engineering plastic PEEK</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Stellite</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                        <div class="b_item">
                                            <p>
                                                <span>Special materials and others</span>
                                                <img src="src/images/img-92.png" alt="i">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="r_t">
                                        <p class="ppins-bold"><span>Classification</span></p>
                                    </div>
                                    <div class="b_list grid g-one">
                                        <div class="b_item">
                                            <p>High nitrogen non-magnetic stainless steel - P550</p>
                                            <p>High nitrogen non-magnetic stainless steel - P650</p>
                                            <p>High nitrogen non-magnetic stainless steel -15-15HSMAX</p>
                                            <p>High nitrogen non-magnetic stainless steel-SCF-19</p>
                                            <p>Martensitic precipitation hardening stainless steel -17-4PH</p>
                                            <p>Martensitic precipitation hardening stainless steel -13-8Mo</p>
                                            <p>Martensitic stainless steel 2Cr13</p>
                                            <p>High nitrogen non-magnetic stainless steel 304</p>
                                            <p>High nitrogen non-magnetic stainless steel -316L</p>
                                            <p>High nitrogen non-magnetic stainless steel -321</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 2</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 3</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 4</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 5</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 6</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 7</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 8</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 9</p>
                                        </div>
                                        <div class="b_item">
                                            <p>test 10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="quote_2_Box radius-8 relative mt-40">
                            <div class="t">
                                <p class="f-20 flex a-center g-10">
                                    <img src="src/images/img-93.png" alt="i">
                                    <span class="ppins-Medium">Surface treatment</span>
                                    <span class="s f-14">Please select the surface treatment that needs to be processed, which supports multiple special surface treatments</span>
                                </p>
                            </div>
                            <div class="b">
                                <div class="b_chouse">
                                    <p>Standard Finishes</p>
                                    <p>Special surface treatment</p>
                                </div>
                                <div class="st_list">
                                    <div class="st_item">
                                        <p class="bt">Surface treatment <span>1</span>:</p>
                                        <div class="st_formBox">
                                            <div class="b_item">
                                                <div class="form_input select">
                                                    <div class="select_name">
                                                        <span>Please select</span>
                                                        <img src="src/images/img-94.png" alt="i">
                                                    </div>
                                                    <ul class="select_options sx15">
                                                        <li>
                                                            <p>test 1</p>
                                                        </li>
                                                        <li>
                                                            <p>test 2</p>
                                                        </li>
                                                    </ul>
                                                    <select class="p_input f-16" name="sx15" data-name="e_select-1" hidden="">
                                                        <option value="1">test 1</option>
                                                        <option value="2">test 2</option>
                                                    </select>
                                                </div>
                                                <div class="form_input select">
                                                    <div class="select_name">
                                                        <span>Please select</span>
                                                        <img src="src/images/img-94.png" alt="i">
                                                    </div>
                                                    <ul class="select_options sx15">
                                                        <li>
                                                            <p>test 1</p>
                                                        </li>
                                                        <li>
                                                            <p>test 2</p>
                                                        </li>
                                                    </ul>
                                                    <select class="p_input f-16" name="sx15" data-name="e_select-1" hidden="">
                                                        <option value="1">test 1</option>
                                                        <option value="2">test 2</option>
                                                    </select>
                                                </div>
                                                <div class="form_input select">
                                                    <div class="select_name">
                                                        <span>Please select</span>
                                                        <img src="src/images/img-94.png" alt="i">
                                                    </div>
                                                    <ul class="select_options sx15">
                                                        <li>
                                                            <p>test 1</p>
                                                        </li>
                                                        <li>
                                                            <p>test 2</p>
                                                        </li>
                                                    </ul>
                                                    <select class="p_input f-16" name="sx15" data-name="e_select-1" hidden="">
                                                        <option value="1">test 1</option>
                                                        <option value="2">test 2</option>
                                                    </select>
                                                </div>
                                                <div class="form_input select">
                                                    <div class="select_name">
                                                        <span>Please select</span>
                                                        <img src="src/images/img-94.png" alt="i">
                                                    </div>
                                                    <ul class="select_options sx15">
                                                        <li>
                                                            <p>test 1</p>
                                                        </li>
                                                        <li>
                                                            <p>test 2</p>
                                                        </li>
                                                    </ul>
                                                    <select class="p_input f-16" name="sx15" data-name="e_select-1" hidden="">
                                                        <option value="1">test 1</option>
                                                        <option value="2">test 2</option>
                                                    </select>
                                                </div>
                                                <div class="caozuo grid g-one">
                                                    <div class="shanchu_this">
                                                        <img src="src/images/img-96.png" alt="i">
                                                    </div>
                                                    <div class="zengjia_this">
                                                        <img src="src/images/img-95.png" alt="i">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </section>

        <section class="quote_options">
            <div class="container">
                <div class="form_input radio_module">
                    <div class="e_input-5 form-group">
                        <label class="p_label f-16">Unmarked tolerance requirements:</label>
                        <div class="radioList flex a-center g-30 f-14 mb-10">
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>IT12</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>IT10</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>GB/T 1804-f</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>GB/T 1804-m</p>
                                </label>
                            </div>
                            <div class="radiobox_Item other">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Other</p>
                                </label>
                            </div>
                            <div class="p_group radiobox_other_input">
                                <div class="input-group">
                                    <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_input radio_module">
                    <div class="e_input-5 form-group">
                        <label class="p_label f-16">Roughness requirement:</label>
                        <div class="radioList flex a-center g-30 f-14 mb-10">
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Ra 3.2</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Ra 1.6</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Ra 0.8</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Ra 0.4</p>
                                </label>
                            </div>
                            <div class="radiobox_Item other">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>Other</p>
                                </label>
                            </div>
                            <div class="p_group radiobox_other_input">
                                <div class="input-group">
                                    <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_input radio_module">
                    <div class="e_input-5 form-group">
                        <label class="p_label f-16">The strictest tolerance requirement:</label>
                        <div class="radioList flex a-center g-30 f-14 mb-10">
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>±0.01</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>±0.02</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>±0.03</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>±0.05</p>
                                </label>
                            </div>
                            <div class="radiobox_Item">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>±0.10</p>
                                </label>
                            </div>
                            <div class="radiobox_Item other">
                                <input class="input-radio" type="radio">
                                <label class="radiobox">
                                    <i class="radio"></i>
                                    <p>other</p>
                                </label>
                            </div>
                            <div class="p_group radiobox_other_input">
                                <div class="input-group">
                                    <input type="text" class="p_input" name="text" data-name="e_input-3" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="special_textarea">
            <div class="container">
                <div class="form_input">
                    <div class="e_input-5 form-group">
                        <label class="p_label f-20 ppins-Medium">Special requirements</label>
                        <div class="p_group">
                            <div class="input-group">
                                <textarea maxlength="1000" class="p_input f-14" rows="3" name="textarea" data-name="e_textarea-1" placeholder="Please enter your special requirements here, which may include testing, assembly, packaging, transportation, and other requirements"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="quote_btn pt-60 pb-100 md:pb-120">
            <div class="container">
                <button class="btn_module">
                    <span class="f-16">Instant inquiry</span>
                </button>
                <p class="f-14 mt-20">After submission, we expect to provide you with a quotation within 24 hours!</p>
            </div>
        </section>

    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>