<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <% const breakName = [
                { text: 'Technology'},
            ];
        %>

    <main class="main">
        <section class="p_nyBanner grid g-one">
            <div class="c_img c_img_1">
                <img src="src/images/img-21.jpg" alt="Technology">
            </div>
            <div class="container">
                <div class="c_break">
                <ul class="f-14">
                    <li>
                    <img src="src/svg/i-8.svg" alt="">
                    <a href="/"><span>Home</span></a>
                    </li>
                    <% breakName.forEach((it, idx) => { %>
                    <% if (idx < breakName.length - 1) { %>
                    <li>
                    <svg t="1747209631478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2443" width="200" height="200">
                        <path d="M400.576 212.688a16 16 0 0 0-22.64 0l-45.248 45.248a16 16 0 0 0 0 22.64L564.624 512.48 332.688 744.432a16 16 0 0 0 0 22.624l45.248 45.264a16 16 0 0 0 22.64 0l288.48-288.512a16 16 0 0 0 0-22.624l-288.48-288.496z" p-id="2444"></path>
                    </svg>
                    <a href="javascript:;"><span><%= it.text %></span></a>
                    </li>
                    <% } else { %>
                    <li>
                    <svg t="1747209631478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2443" width="200" height="200">
                        <path d="M400.576 212.688a16 16 0 0 0-22.64 0l-45.248 45.248a16 16 0 0 0 0 22.64L564.624 512.48 332.688 744.432a16 16 0 0 0 0 22.624l45.248 45.264a16 16 0 0 0 22.64 0l288.48-288.512a16 16 0 0 0 0-22.624l-288.48-288.496z" p-id="2444"></path>
                    </svg>
                    <span><%= it.text %></span>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
                </div>
                <div class="l_title flex f-col">
                    <div class="c_h1 mb-30">
                        <h1 class="f-40 lg:f-48 xl:f-56">Industry challenges</h1>
                    </div>
                    <div class="c_p">
                        <p class="f-20">Creating a new benchmark for precision manufacturing with exquisite<br>craftsmanship and innovative technology</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="c_technology_sort">
            <div class="container flex j-between g-10">
                <div class="c_sort c_sort_swiper swiper">
                    <ul class="flex swiper-wrapper">
                        <li class="flex swiper-slide"><a class="pt-30 pb-30" href="javascript:;">Precision manufacturing process</a></li>
                        <li class="flex swiper-slide"><a class="pt-30 pb-30" href="javascript:;">Special arts and crafts</a></li>
                    </ul>
                </div>
                <div class="c_sort_more flex a-center">
                    <a href="javascript:;" class="flex a-center g-10">
                        <span class="f-14">View materials</span>
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="7px" height="11px" viewBox="0 0 7 11">
                            <path d="M6.001,6.318 L1.758,10.561 C1.368,10.952 0.734,10.952 0.344,10.561 C-0.047,10.170 -0.047,9.538 0.344,9.147 L3.880,5.611 L0.344,2.076 C-0.047,1.685 -0.047,1.052 0.344,0.662 C0.734,0.271 1.368,0.271 1.758,0.662 L6.001,4.904 C6.391,5.295 6.391,5.928 6.001,6.318 Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>