<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no, address=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" crossorigin href="src/css/main.css" />
</head>

<body>
    <%- header %>

    <% const breakName = [
                { text: 'Technology'},
            ];
        %>

    <main class="main">
        <section class="p_nyBanner grid g-one">
            <div class="c_img c_img_1">
                <img src="src/images/img-21.jpg" alt="Technology">
            </div>
            <div class="container">
                <div class="c_break">
                <ul class="f-14">
                    <li>
                    <img src="src/svg/i-8.svg" alt="">
                    <a href="/"><span>Home</span></a>
                    </li>
                    <% breakName.forEach((it, idx) => { %>
                    <% if (idx < breakName.length - 1) { %>
                    <li>
                    <svg t="1747209631478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2443" width="200" height="200">
                        <path d="M400.576 212.688a16 16 0 0 0-22.64 0l-45.248 45.248a16 16 0 0 0 0 22.64L564.624 512.48 332.688 744.432a16 16 0 0 0 0 22.624l45.248 45.264a16 16 0 0 0 22.64 0l288.48-288.512a16 16 0 0 0 0-22.624l-288.48-288.496z" p-id="2444"></path>
                    </svg>
                    <a href="javascript:;"><span><%= it.text %></span></a>
                    </li>
                    <% } else { %>
                    <li>
                    <svg t="1747209631478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2443" width="200" height="200">
                        <path d="M400.576 212.688a16 16 0 0 0-22.64 0l-45.248 45.248a16 16 0 0 0 0 22.64L564.624 512.48 332.688 744.432a16 16 0 0 0 0 22.624l45.248 45.264a16 16 0 0 0 22.64 0l288.48-288.512a16 16 0 0 0 0-22.624l-288.48-288.496z" p-id="2444"></path>
                    </svg>
                    <span><%= it.text %></span>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
                </div>
                <div class="l_title flex f-col">
                    <div class="c_h1 mb-20">
                        <h1 class="f-40 lg:f-48 xl:f-56">Industry challenges</h1>
                    </div>
                    <div class="c_p">
                        <p class="f-20">Creating a new benchmark for precision manufacturing with exquisite<br>craftsmanship and innovative technology</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="c_technology_sort">
            <div class="container flex j-between g-10">
                <div class="c_sort c_sort_swiper swiper">
                    <ul class="flex swiper-wrapper">
                        <li class="flex swiper-slide"><a class="pt-30 pb-30 cur" href="javascript:;">Precision manufacturing process</a></li>
                        <li class="flex swiper-slide"><a class="pt-30 pb-30" href="javascript:;">Special arts and crafts</a></li>
                    </ul>
                </div>
                <div class="c_sort_more flex a-center">
                    <a href="javascript:;" class="flex a-center g-10">
                        <span class="f-14">View materials</span>
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="7px" height="11px" viewBox="0 0 7 11">
                            <path d="M6.001,6.318 L1.758,10.561 C1.368,10.952 0.734,10.952 0.344,10.561 C-0.047,10.170 -0.047,9.538 0.344,9.147 L3.880,5.611 L0.344,2.076 C-0.047,1.685 -0.047,1.052 0.344,0.662 C0.734,0.271 1.368,0.271 1.758,0.662 L6.001,4.904 C6.391,5.295 6.391,5.928 6.001,6.318 Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <section class="te te2">
            <% const te2_slideList = [
                    { img: 'src/images/img-22.jpg', title: 'Precision deep holemachining' },
                    { img: 'src/images/img-23.jpg', title: 'Thread rolling' },
                    { img: 'src/images/img-24.jpg', title: 'Ultra deep gun drill' },
                    { img: 'src/images/img-25.jpg', title: 'Space oblique hole processing' },
                    { img: 'src/images/img-26.jpg', title: 'Deep hole drilling eccentric hole' },
                    { img: 'src/images/img-27.jpg', title: 'Deep hole electric spark' },
                    { img: 'src/images/img-28.jpg', title: 'Thin shaft machining' },
                    { img: 'src/images/img-29.jpg', title: 'Five axis precision machining' },
                    { img: 'src/images/img-28.jpg', title: 'Thin shaft machining' },
                    { img: 'src/images/img-29.jpg', title: 'Five axis precision machining' }
                ];
            %>
            <div class="container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <% te2_slideList.forEach((item) => { %>
                            <div class="swiper-slide">
                                <a href="javascript:;">
                                    <div class="te2_img radius-8 relative o-hidden mb-20">
                                        <img src="<%= item.img %>" alt="technology">
                                    </div>
                                    <div class="te_title f-14 f-center">
                                        <p><%= item.title %></p>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>

        <section class="te te3 pt-120 pb-120">
            <div class="container grid grid-2">
                <div class="te3_left">
                    <img src="src/images/img-30.jpg" alt="technology" class="relative o-hidden">
                </div>
                <div class="te3_right pl-100 flex f-col a-center j-center">
                    <p class="t f-40 lg:f-48 ppins-bold">Precision deep hole machining</p>
                    <p class="s f-16">By using customized specialized deep hole cutting tools and deep hole machine equipment, high-precision machining of difficult to cut materials such as high difficulty multi-step sealed deep holes and deep hole inner ring grooves can be achieved. The machining range of the inner hole diameter of the part is ∅ 25-250mm, the maximum machining depth is 10m, and the coaxiality of the machined hole is 0.02mm. The diameter of the deep hole inner groove can reach 1.5 times the size of the through-hole, and the surface smoothness is better than Ra 1.6 μ m.</p>
                </div>
            </div>
        </section>

        <section class="te te4 pt-120 pb-120">
            <div class="container grid grid-2 g-60">
                <div class="te4_left">
                    <div class="te4_left_title ppins-bold">
                        <p class="f-40 lg:f-48">Application industry</p>
                    </div>
                    <div class="te4_left_item">
                        <p><span>EADS</span><img src="src/images/img-32.png" alt="Application industry"></p>
                        <p><span>Application industry2</span><img src="src/images/img-32.png" alt="Application industry"></p>
                        <p><span>Application industry3</span><img src="src/images/img-32.png" alt="Application industry"></p>
                        <p><span>Application industry4</span><img src="src/images/img-32.png" alt="Application industry"></p>
                        <p><span>Application industry5</span><img src="src/images/img-32.png" alt="Application industry"></p>
                    </div>
                </div>
                <div class="te4_right grid g-one radius-8 relative o-hidden">
                    <img src="src/images/img-31.jpg" alt="technology" class="relative o-hidden">
                    <img src="src/images/img-31.jpg" alt="technology" class="relative o-hidden">
                    <img src="src/images/img-31.jpg" alt="technology" class="relative o-hidden">
                    <img src="src/images/img-31.jpg" alt="technology" class="relative o-hidden">
                </div>
            </div>
        </section>

        <section class="p_gallery p_gallery_2 pt-100 pb-100 md:pt-120 md:pb-120">
            <div class="container">
                <div class="c_h1 flex a-center j-between">
                    <h1 class="f-28 md:f-32 lg:f-48">Craft Case Gallery</h1>
                    <a href="javascript:;" class="f-16 flex a-center g-30">Explore all gallery <span><img src="src/images/img-33.png" alt="gallery"></span></a>
                </div>
                <% const galleryList = [
                            { img: 'src/images/img-06.jpg' },
                            { img: 'src/images/img-07.jpg' },
                            { img: 'src/images/img-08.jpg' },
                            { img: 'src/images/img-09.jpg' },
                            { img: 'src/images/img-10.jpg' },
                            { img: 'src/images/img-11.jpg' },
                            { img: 'src/images/img-12.jpg' },
                            { img: 'src/images/img-13.jpg' }
                        ]; %>
                <div class="c_list mt-40 g-20 md:g-30 md:mt-60">
                <% galleryList.forEach(item => { %>
                <a href="javascript:;" class="c_item">
                    <div class="c_img radius-10 relative o-hidden">
                    <img src="<%= item.img %>" alt="Customer case">
                    </div>
                </a>
                <% }) %>

                </div>
            </div>
        </section>

        <section class="Why_us pb-100 md:pb-120">
            <div class="container">
                <div class="c_h1 flex a-center j-between">
                    <h1 class="f-28 md:f-32 lg:f-48">Why us</h1>
                    <a href="javascript:;" class="f-16 flex a-center g-30">Explore all gallery <span><img src="src/images/img-33.png" alt="gallery"></span></a>
                </div>
                <div class="Why_us_list mt-40 g-20 md:g-30 md:mt-60 grid grid-2">
                    <div class="Why_us_left flex f-col g-20 md:g-30">
                        <a href="#" class="why_us_item grid g-one">
                            <div class="Why_us_item_img">
                                <img src="src/images/img-34.jpg" alt="Why us">
                            </div>
                            <div class="Why_us_item_title">
                                <p class="f-32 ppins-bold mb-20">Mass production</p>
                                <p>Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder Text placeholder </p>
                            </div>
                        </a>
                        <a href="#" class="why_us_item grid g-one">
                            <div class="Why_us_item_img">
                                <img src="src/images/img-35.jpg" alt="Why us">
                            </div>
                            <div class="Why_us_item_title">
                                <p class="f-32 ppins-bold mb-20">Integrated service capability</p>
                                <p>Fully connected prototype production, equipment assembly, and intelligent maintenance throughout the entire chain, achieving precise delivery throughout the entire cycle</p>
                            </div>
                        </a>
                    </div>
                    <div class="Why_us_right">
                        <a href="#" class="why_us_item grid g-one">
                            <div class="Why_us_item_img">
                                <img src="src/images/img-36.jpg" alt="Why us">
                            </div>
                            <div class="Why_us_item_title">
                                <p class="f-32 ppins-bold mb-20">Device cluster</p>
                                <p>Equipped with over 200 large precision CNC equipment (including imported five axis linkage machining centers, turning milling composite machining centers, and domestically customized CNC equipment)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="l_column l_technology_1 grid g-one">
            <div class="l_technology_1_img">
                <img src="src/images/img-37.jpg" alt="technology">
            </div>
            <div class="container">
                <div class="l_technology_1_info flex f-col j-center">
                    <h3 class="f-40 lg:f-48 mb-10">Shorten errors with technology and <span>fulfill promises with precision</span></h3>
                    <p class="f-18 mb-30">Let precision manufacturing understand you better - one click quotation, unlock efficient production password</p>
                    <a href="javascript:;" class="btn btn-f">Get a quote now</a>
                </div>
            </div>
        </section>
    </main>

    <%- footer %>

    <script type="module" crossorigin src="src/js/main.js"></script>
</body>

</html>