@use '../../common/tool' as *;

.upload_attachments_module {
    .p_group {
        width: 100%;
        background-color: var(--bl);
        border: 1px dashed var(--bc);
        background-image: url(/src/images/img-86.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        height: 4.9rem;
        border-radius: 0.06rem;
        justify-content: space-between;
        align-items: center;
        gap: 0.12rem;
        display: flex;
        flex-direction: column;
        padding: 1.2rem 0.2rem 0.6rem;

        @media screen and (max-width:768px) {
            grid-template-columns: 1fr;
        }

        .input-group {
            width: auto;
        }
    }

    button {
        width: 100%;
        border-radius: 0.06rem;
        padding: 0 0.15rem;
        cursor: pointer;
        background: none;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        transition: all var(--ease) 0.3s;

        @media screen and (max-width:768px) {
            max-width: 100%;
        }

        img {
            height: 0.44rem;
        }

        span {
            color: var(--0);
            transition: all var(--ease) .3s;
        }

        &:hover {
            border-color: var(--bc);

            span {
                color: var(--bc);
            }
        }
    }

    .p_file_info {
        width: 100%;

        p:first-child {
            color: var(--0);
        }

        p:last-child {
            color: var(--1);
        }
    }

    .p_file_info>p {
        color: var(--6);
        word-break: break-all;
    }

    .p_fileName {
        align-items: center;
        width: 100%;
        background-color: var(--f6);
        color: var(--6);
        padding: 0.1rem 0.15rem;
        padding-right: 0.26rem;
        border-radius: 0.06rem;
        display: none;
        position: relative;
        margin-top: 0.14rem;

        .p_name {
            @include ellipsis(1);
        }

        .p_close {
            position: absolute;
            top: 50%;
            right: 0.1rem;
            transform: translateY(-50%);
            display: flex;
            cursor: pointer;

            svg {
                display: flex;
                width: 0.15rem;
                height: auto;
                color: var(--6);
                transition: all var(--ease) .3s;
            }

            &:hover {
                svg {
                    color: var(--bc);
                }
            }
        }

        &.upload_ed {
            display: flex;
        }
    }
}