@charset "UTF-8";

:root {
    --cw: 15rem;
    --ease: ease;
    --easein: ease-in;
    --easeout: ease-out;
    --easeinout: ease-in-out;
    --f: #fff;
    --0: #000;
    --1: #111;
    --6: #666;
    --9: #999;
    --bc: #154a93;
    --bl: #eaf3ff;
    --ac: #e27c11;
}