@use '../common/tool' as *;

.c_break {
    background-color: var(--w);
    height: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 0.3rem);
    overflow-x: auto;
    mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 0%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 0.06rem;

        li {
            display: flex;
            align-items: center;
            gap: 0.06rem;
            line-height: 1.4;
            color: var(--9);
            width: max-content;

            @media screen and (max-width: 768px) {
                font-size: 13px;
            }

            img {
                width: 0.13rem;
                height: auto;
                margin-right: 0.04rem;

                @media screen and (max-width: 768px) {
                    width: 13px;
                }
            }

            span {
                width: auto;
                white-space: pre;
                @include ellipsis(1);
            }

            svg {
                width: 0.16rem;

                @media screen and (max-width: 768px) {
                    width: 16px;
                }
            }

            a,
            span {
                color: inherit;
                line-height: inherit;
                font-size: inherit;
                transition: all var(--ease) .3s;

                &:hover {
                    color: var(--bc);
                }
            }

            &:last-child {
                color: var(--bc);
            }
        }
    }
}