.c_sort {
    li {
        a {
            position: relative;
            display: flex;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            @media screen and (max-width: 480px) {
                font-size: 14px;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -0.01rem;
                right: 0;
                height: 0.03rem;
                width: 0;
                background-color: var(--bc);
                transition: all var(--ease) 0.3s;
            }

            &.cur::after,
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
}

.c_sort_swiper {
    overflow: hidden;
    width: 100%;

    li {
        width: auto;
    }
}

.c_sort_more {
    color: var(--6);

    span {
        white-space: pre;
        transition: all var(--ease) 0.3s;
    }

    svg {
        width: 0.07rem;
        transition: all var(--ease) 0.3s;
    }

    a:hover {
        color: var(--bc);
    }
}