<nav class="break">
  <div class="container">
    <ul>
      <% items.forEach((it, i) => { %>
      <li>
        <% if (i < items.length - 1) { %>
        <a href="javascript:;"><%= it.text %></a>
        <svg t="1747209631478" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2443" width="200" height="200">
          <path d="M400.576 212.688a16 16 0 0 0-22.64 0l-45.248 45.248a16 16 0 0 0 0 22.64L564.624 512.48 332.688 744.432a16 16 0 0 0 0 22.624l45.248 45.264a16 16 0 0 0 22.64 0l288.48-288.512a16 16 0 0 0 0-22.624l-288.48-288.496z" p-id="2444"></path>
        </svg>
        <% } else { %>
        <span><%= it.text %></span>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</nav>