footer {
    background: #181818;

    @media screen and (max-width:1024px) {
        &.pl-60{
            padding-left: 0.3rem;
        }
        &.pr-60{
            padding-right: 0.3rem;
        }
    }

    @media screen and (max-width:768px) {
        &.pl-60{
            padding-left: 0.15rem;
        }
        &.pr-60{
            padding-right: 0.15rem;
        }
    }

    .footer_logo {
        max-width: 1.18rem;
    }

    .footer_menu {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media screen and (max-width:1024px) {
            gap: 0.6rem;
            flex-wrap: wrap;
        }
    }

    .footer_menu_item {
        color: var(--f);

        @media screen and (max-width:1024px) {
            &:nth-child(1){
                width: 100%;
            }
        }

        @media screen and (max-width:768px) {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                display: none;
            }
        }

        .footer_menu_t {
            font-size: 0.18rem;
            margin-bottom: 0.2rem;
            font-family: "Poppins-Medium";

            a {
                transition: all var(--ease) 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        .footer_menu_l {
            font-size: 0.14rem;
            margin-bottom: 0.1rem;

            @media screen and (max-width:768px) {
                font-size: 12px;
            }

            a {
                transition: all var(--ease) 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .footer_other {
        color: var(--f);
        display: flex;
        justify-content: space-between;
        gap: 0.1rem;
        padding: 0.2rem 0;

        @media screen and (max-width:768px) {
            flex-direction: column;
            justify-content: center;

            .f_other_page {
                flex-wrap: wrap;
                opacity: 0.6;
                line-height: 1.2;
            }
        }

        a {
            transition: all var(--ease) 0.3s;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .footer_menu .search {
        background-color: var(--f);
        grid-template-columns: 1fr 0.4rem;
        border-radius: 0.04rem;
        margin-top: 0.1rem;
        float: left;

        .form_input{
            margin: 0;
        }

        .input-group {
            padding: 0 0.15rem;
            width: 100%;
            grid-template-columns: 1fr;
        }

        .input-group .p_input {
            background-color: var(--f);
            color: var(--9);
            padding: 0;
            height: 0.4rem;
        }

        .formBtn {
            width: 0.36rem;
            height: 0.36rem;
            background-color: var(--bc);
            border-radius: 0.04rem;
            padding: 0;
            margin-top: 0.02rem;
            transform: translateX(0rem);

            &:hover {
                background-color: var(--bc_c);
            }

            img {
                width: 0.16rem;
                height: 0.16rem;
            }
        }
    }
}