header {
    position: sticky;
    top: 0;
    z-index: 20;
    transition: all var(--ease) 0.6s;

    &.scroll_down{
        transform: translateY(-100%);
    }
}

.up .scroll_down{
    transform: translateY(0%);
}

.down .scroll_down{
    pointer-events: none;
}

.header_top {
    padding: 0 0.6rem;
    height: 0.36rem;
    background-color: var(--f6);

    @media screen and (max-width:1024px) {
        padding: 0 0.3rem;
    }

    .grzxrukou {
        a {
            color: var(--6);
        }

        span {
            font-size: 0.12rem;
            color: var(--6);
        }
    }
}

.header_bottom {
    padding: 0 0.6rem;
    background-color: var(--f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.8rem;
    border-bottom: 0.01rem solid var(--d);

    @media screen and (max-width:1024px) {
        padding: 0 0.3rem;

        .logo img {
            width: 1.05rem;
        }
    }

    @media screen and (max-width:768px) {
        padding: 0 0.15rem;

        .mob_ico{
            svg:first-child{
                display: flex;
            }
            svg:last-child{
                display: none;
            }
        }

        .mob_ico.active{
            svg:first-child{
                display: none;
            }
            svg:last-child{
                display: flex;
            }
        }

        .mob_ico svg {
            width: 0.26rem;
            height: 0.26rem;
        }
    }

    .nav {
        @media screen and (max-width:768px) {
            position: absolute;
            top: 100%;
            width: 100%;
            background: var(--f6);
            left: 0;
            height: 0;
            overflow: hidden;
            transition: all var(--ease) 0.4s;

            ul {
                flex-direction: column;
                align-items: flex-start;
            }

            &.header_active {
                height: calc(100vh - 0.9rem);
            }
        }
    }

    .navBox {
        .nav_item {
            .nav_text {
                color: var(--1);

                @media screen and (max-width:768px) {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.2rem 0.2rem;
                }

                a {
                    padding: 0 0.2rem;
                    font-family: "Poppins-Medium";
                    transition: all var(--ease) 0.3s;

                    @media screen and (max-width:768px) {
                        padding: 0;
                        font-size: 14px;
                    }

                    &:hover {
                        color: var(--bc);
                    }
                }
            }
        }
    }

    .nav_item {
        height: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width:768px) {
            width: 100%;
            height: auto;
            justify-content: flex-start;
            flex-wrap: wrap;
            position: relative;

            .nav_children_arrow {
                height: 100%;
                width: 0.3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 0.1rem;
                }
            }
        }

        &::after {
            content: "";
            position: fixed;
            top: calc(0.36rem + 0.8rem);
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            padding: 0.4rem 0.15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 12;
            background: rgba(247, 247, 247, 0.9);
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(0, 0, 0, 0.3);
            transition: all var(--ease) 0.3s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @media screen and (max-width:768px) {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            &.have_children:hover {

                .nav_children {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: inherit;
                }
            }

            &.teshu:hover {

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
             
        }
    }

    .nav_item:not(.teshu) .nav_children {
        background-color: var(--f);
        padding: 0.2rem 0.1rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        z-index: 14;
        border-radius: 0.08rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        gap: 0.05rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @media screen and (max-width:768px) {
            background: var(--f);
            width: 94%;
            margin: 0 auto;
            text-align: left;

            &.arrow_active {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                position: static;
            }
        }

        a {
            background: var(--f);
            border-radius: 0.04rem;
            color: var(--1);
            transition: all var(--ease) 0.3s;
            padding: 0.1rem 0.15rem;

            &:hover {
                background: var(--bc);
                color: var(--f);
            }
        }
    }

    .teshu {
        position: static;

        .nav_children {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            background: var(--f);
            z-index: 13;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all var(--ease) 0.3s;

            @media screen and (max-width:768px) {
                width: 100%;
                top: 0;
                left: 0;
                background: rgb(0 0 0 / 37%);
                bottom: 0;

                &.arrow_active {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }

            .container {
                display: grid;
                grid-template-columns: 2fr 5fr;

                @media screen and (max-width:768px) {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 auto;
                    background: #fff;
                }

                .nav_children_left {
                    padding-top: 0.6rem;
                    border-right: 0.01rem solid var(--d);
                    display: flex;
                    // justify-content: space-between;
                    gap: 0.14rem;
                    flex-direction: column;
                    padding-bottom: 0.55rem;

                    @media screen and (max-width:768px) {
                        border-right: 0;
                        padding-top: 0.3rem;
                        padding-bottom: 0.3rem;

                        // .nav_children_more{
                        //     display: none;
                        // }

                        .nav_children_more a{
                            padding: 0.1rem 0;
                        }
                    }

                    .nav_children_tab {
                        p {
                            position: relative;

                            a {
                                padding: 0.1rem 0;
                                display: flex;

                                @media screen and (max-width:768px) {
                                    font-size: 12px;
                                }

                                &:hover {
                                    color: var(--bc);
                                }
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                right: -0.02rem;
                                top: 0;
                                bottom: 0;
                                width: 0.03rem;
                                height: 100%;
                                background-color: var(--bc);
                                opacity: 0;
                                transition: all var(--ease) 0.3s;
                            }

                            &.cur,
                            &:hover {
                                &::after {
                                    opacity: 1;
                                }
                            }

                            &.cur a{
                                color: var(--bc);
                            }
                        }
                    }

                    .nav_children_more {
                        a {
                            display: flex;
                            align-items: baseline;
                            color: var(--6);
                            gap: 0.1rem;

                            &:hover{
                                color: var(--bc);
                            }
                        }

                        img {
                            width: auto;
                        }
                    }
                }

                .nav_children_right {
                    padding-top: 0.6rem;
                    padding-bottom: 0.55rem;
                    padding-left: 1.2rem;

                    @media screen and (max-width:768px) {
                        padding-left: 0;
                        padding-bottom: 0.3rem;
                        padding-top: 0.3rem;
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.4rem;
                        height: 4.8rem;
                        overflow-y: auto;
                        display: none;

                        &.cur{
                            display: flex;
                        }

                        @media screen and (max-width:768px) {
                            gap: 0.16rem;
                        }

                        li {
                            width: 1.52rem;

                            @media screen and (max-width:768px) {
                                width: 100%;

                                a {
                                    display: flex;
                                    gap: 0.1rem;
                                    align-items: center;
                                }
                            }

                            .nav_img {
                                width: 1.52rem;
                                height: 1.52rem;
                                border-radius: 0.08rem;
                                position: relative;
                                overflow: hidden;

                                @media screen and (max-width:768px) {
                                    width: 0.4rem;
                                    height: 0.4rem;
                                    display: none;
                                }

                                img {
                                    transition: all var(--ease) 0.3s;
                                }
                            }

                            p {
                                text-align: center;
                                line-height: 1.4;
                                height: 0.44rem;
                                transition: all var(--ease) 0.3s;


                                @media screen and (max-width:768px) {
                                    font-size: 12px;
                                    height: auto;
                                    margin: 0;
                                }
                            }

                            &:hover {
                                p {
                                    color: var(--bc);
                                }

                                img {
                                    transform: scale(1.02);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .mob_ico {
        display: none;
    }

    .nav_children_arrow {
        display: none;
    }
}