:root {
  --cw: 15rem;
  --ease: ease;
  --easein: ease-in;
  --easeout: ease-out;
  --easeinout: ease-in-out;
  --f: #fff;
  --0: #000;
  --1: #111;
  --6: #666;
  --9: #999;
  --bc: #154a93;
  --bl: #eaf3ff;
  --ac: #e27c11;
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 19.2);
}

@media (max-width: 1440px) {
  html {
    font-size: calc(100vw / 14.4);
  }
}
@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 10.24);
  }
}
@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 7.68);
  }
}
.f-80 {
  font-size: 0.8rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-80 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-80 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-80 {
    font-size: 0.8rem;
  }
}
.f-48 {
  font-size: 0.48rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-48 {
    font-size: 0.48rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-48 {
    font-size: 0.48rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-48 {
    font-size: 0.48rem;
  }
}
.f-24 {
  font-size: 0.24rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-24 {
    font-size: 0.24rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-24 {
    font-size: 0.24rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-24 {
    font-size: 0.24rem;
  }
}
.f-20 {
  font-size: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-20 {
    font-size: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-20 {
    font-size: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-20 {
    font-size: 0.2rem;
  }
}
.f-18 {
  font-size: 0.18rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-18 {
    font-size: 0.18rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-18 {
    font-size: 0.18rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-18 {
    font-size: 0.18rem;
  }
}
.f-16 {
  font-size: 0.16rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-16 {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-16 {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-16 {
    font-size: 0.16rem;
  }
}
.f-14 {
  font-size: 0.14rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-14 {
    font-size: 0.14rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-14 {
    font-size: 0.14rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-14 {
    font-size: 0.14rem;
  }
}
.f-12 {
  font-size: 0.12rem;
}

@media screen and (min-width: 1440px) {
  .xl\:f-12 {
    font-size: 0.12rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-12 {
    font-size: 0.12rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:f-12 {
    font-size: 0.12rem;
  }
}
.mt-10 {
  margin-top: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-10 {
    margin-top: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-10 {
    margin-top: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-10 {
    margin-top: 0.1rem;
  }
}
.mt-15 {
  margin-top: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-15 {
    margin-top: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-15 {
    margin-top: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-15 {
    margin-top: 0.15rem;
  }
}
.mt-20 {
  margin-top: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-20 {
    margin-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-20 {
    margin-top: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-20 {
    margin-top: 0.2rem;
  }
}
.mt-30 {
  margin-top: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-30 {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-30 {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-30 {
    margin-top: 0.3rem;
  }
}
.mt-60 {
  margin-top: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-60 {
    margin-top: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-60 {
    margin-top: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-60 {
    margin-top: 0.6rem;
  }
}
.mt-120 {
  margin-top: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mt-120 {
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-120 {
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-120 {
    margin-top: 1.2rem;
  }
}
.mr-10 {
  margin-right: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-10 {
    margin-right: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-10 {
    margin-right: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-10 {
    margin-right: 0.1rem;
  }
}
.mr-15 {
  margin-right: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-15 {
    margin-right: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-15 {
    margin-right: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-15 {
    margin-right: 0.15rem;
  }
}
.mr-20 {
  margin-right: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-20 {
    margin-right: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-20 {
    margin-right: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-20 {
    margin-right: 0.2rem;
  }
}
.mr-30 {
  margin-right: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-30 {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-30 {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-30 {
    margin-right: 0.3rem;
  }
}
.mr-60 {
  margin-right: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-60 {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-60 {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-60 {
    margin-right: 0.6rem;
  }
}
.mr-120 {
  margin-right: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mr-120 {
    margin-right: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-120 {
    margin-right: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mr-120 {
    margin-right: 1.2rem;
  }
}
.mb-10 {
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
.mb-15 {
  margin-bottom: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
.mb-20 {
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
.mb-30 {
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
.mb-60 {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
.mb-120 {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
.ml-10 {
  margin-left: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-10 {
    margin-left: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-10 {
    margin-left: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-10 {
    margin-left: 0.1rem;
  }
}
.ml-15 {
  margin-left: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-15 {
    margin-left: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-15 {
    margin-left: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-15 {
    margin-left: 0.15rem;
  }
}
.ml-20 {
  margin-left: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-20 {
    margin-left: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-20 {
    margin-left: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-20 {
    margin-left: 0.2rem;
  }
}
.ml-30 {
  margin-left: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-30 {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-30 {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-30 {
    margin-left: 0.3rem;
  }
}
.ml-60 {
  margin-left: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-60 {
    margin-left: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-60 {
    margin-left: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-60 {
    margin-left: 0.6rem;
  }
}
.ml-120 {
  margin-left: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:ml-120 {
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-120 {
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:ml-120 {
    margin-left: 1.2rem;
  }
}
.m-10 {
  margin: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-10 {
    margin: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-10 {
    margin: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-10 {
    margin: 0.1rem;
  }
}
.m-15 {
  margin: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-15 {
    margin: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-15 {
    margin: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-15 {
    margin: 0.15rem;
  }
}
.m-20 {
  margin: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-20 {
    margin: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-20 {
    margin: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-20 {
    margin: 0.2rem;
  }
}
.m-30 {
  margin: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-30 {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-30 {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-30 {
    margin: 0.3rem;
  }
}
.m-60 {
  margin: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-60 {
    margin: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-60 {
    margin: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-60 {
    margin: 0.6rem;
  }
}
.m-120 {
  margin: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:m-120 {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-120 {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:m-120 {
    margin: 1.2rem;
  }
}
.pt-10 {
  padding-top: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-10 {
    padding-top: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-10 {
    padding-top: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-10 {
    padding-top: 0.1rem;
  }
}
.pt-15 {
  padding-top: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-15 {
    padding-top: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-15 {
    padding-top: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-15 {
    padding-top: 0.15rem;
  }
}
.pt-20 {
  padding-top: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-20 {
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-20 {
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-20 {
    padding-top: 0.2rem;
  }
}
.pt-30 {
  padding-top: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-30 {
    padding-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-30 {
    padding-top: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-30 {
    padding-top: 0.3rem;
  }
}
.pt-60 {
  padding-top: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-60 {
    padding-top: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-60 {
    padding-top: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-60 {
    padding-top: 0.6rem;
  }
}
.pt-120 {
  padding-top: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pt-120 {
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-120 {
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pt-120 {
    padding-top: 1.2rem;
  }
}
.pr-10 {
  padding-right: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-10 {
    padding-right: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-10 {
    padding-right: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-10 {
    padding-right: 0.1rem;
  }
}
.pr-15 {
  padding-right: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-15 {
    padding-right: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-15 {
    padding-right: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-15 {
    padding-right: 0.15rem;
  }
}
.pr-20 {
  padding-right: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-20 {
    padding-right: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-20 {
    padding-right: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-20 {
    padding-right: 0.2rem;
  }
}
.pr-30 {
  padding-right: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-30 {
    padding-right: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-30 {
    padding-right: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-30 {
    padding-right: 0.3rem;
  }
}
.pr-60 {
  padding-right: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-60 {
    padding-right: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-60 {
    padding-right: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-60 {
    padding-right: 0.6rem;
  }
}
.pr-120 {
  padding-right: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pr-120 {
    padding-right: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-120 {
    padding-right: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pr-120 {
    padding-right: 1.2rem;
  }
}
.pb-10 {
  padding-bottom: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
.pb-15 {
  padding-bottom: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
.pb-20 {
  padding-bottom: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
.pb-30 {
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
.pb-60 {
  padding-bottom: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
.pb-120 {
  padding-bottom: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
.pl-10 {
  padding-left: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-10 {
    padding-left: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-10 {
    padding-left: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-10 {
    padding-left: 0.1rem;
  }
}
.pl-15 {
  padding-left: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-15 {
    padding-left: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-15 {
    padding-left: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-15 {
    padding-left: 0.15rem;
  }
}
.pl-20 {
  padding-left: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-20 {
    padding-left: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-20 {
    padding-left: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-20 {
    padding-left: 0.2rem;
  }
}
.pl-30 {
  padding-left: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-30 {
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-30 {
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-30 {
    padding-left: 0.3rem;
  }
}
.pl-60 {
  padding-left: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-60 {
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-60 {
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-60 {
    padding-left: 0.6rem;
  }
}
.pl-120 {
  padding-left: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:pl-120 {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-120 {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:pl-120 {
    padding-left: 1.2rem;
  }
}
.p-10 {
  padding: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-10 {
    padding: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-10 {
    padding: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-10 {
    padding: 0.1rem;
  }
}
.p-15 {
  padding: 0.15rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-15 {
    padding: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-15 {
    padding: 0.15rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-15 {
    padding: 0.15rem;
  }
}
.p-20 {
  padding: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-20 {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-20 {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-20 {
    padding: 0.2rem;
  }
}
.p-30 {
  padding: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-30 {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-30 {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-30 {
    padding: 0.3rem;
  }
}
.p-60 {
  padding: 0.6rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-60 {
    padding: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-60 {
    padding: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-60 {
    padding: 0.6rem;
  }
}
.p-120 {
  padding: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:p-120 {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-120 {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:p-120 {
    padding: 1.2rem;
  }
}
.g-30 {
  gap: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .xl\:g-30 {
    gap: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-30 {
    gap: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:g-30 {
    gap: 0.3rem;
  }
}
.g-20 {
  gap: 0.2rem;
}

@media screen and (min-width: 1440px) {
  .xl\:g-20 {
    gap: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-20 {
    gap: 0.2rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:g-20 {
    gap: 0.2rem;
  }
}
.g-10 {
  gap: 0.1rem;
}

@media screen and (min-width: 1440px) {
  .xl\:g-10 {
    gap: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-10 {
    gap: 0.1rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:g-10 {
    gap: 0.1rem;
  }
}
.op-0 {
  opacity: 0;
}

@media screen and (min-width: 1440px) {
  .xl\:op-0 {
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-0 {
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .md\:op-0 {
    opacity: 0;
  }
}
.op-6 {
  opacity: 0.6;
}

@media screen and (min-width: 1440px) {
  .xl\:op-6 {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-6 {
    opacity: 0.6;
  }
}
@media screen and (min-width: 768px) {
  .md\:op-6 {
    opacity: 0.6;
  }
}
.op-10 {
  opacity: 1;
}

@media screen and (min-width: 1440px) {
  .xl\:op-10 {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-10 {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .md\:op-10 {
    opacity: 1;
  }
}
.radius-8 {
  border-radius: 0.08rem;
}

@media screen and (min-width: 1440px) {
  .xl\:radius-8 {
    border-radius: 0.08rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:radius-8 {
    border-radius: 0.08rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:radius-8 {
    border-radius: 0.08rem;
  }
}
.break {
  background-color: var(--w);
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.break ul {
  display: flex;
  align-items: center;
  gap: 0.05rem;
}
.break ul li {
  display: flex;
  align-items: center;
  gap: 0.05rem;
  line-height: 1.2;
  white-space: pre;
  color: var(--9);
  width: -moz-min-content;
  width: min-content;
}
.break ul li svg {
  width: 0.16rem;
}
.break ul li a {
  color: inherit;
  line-height: inherit;
}
.break ul li a:hover {
  color: var(--bc);
}
.break ul li:last-child {
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.break.other li:nth-child(2) {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MiSans-Normal", "PingFang SC", "Microsoft YaHei", "Microsoft YaHei UI", "SimSun", "SimHei", "Arial";
  font-size: 0.16rem;
  line-height: 1.4;
  color: inherit;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-input-placeholder,
input:hover::-webkit-input-placeholder,
input:hover::-moz-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-input-placeholder,
textarea:hover::-webkit-input-placeholder,
textarea:hover::-moz-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

select:focus,
textarea:focus,
input:focus,
button {
  outline: none;
}

textarea,
input,
select {
  text-indent: 0.1rem;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

button {
  cursor: pointer;
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  cursor: pointer;
}

input,
button,
textarea,
select {
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  background: var(--f);
}

p {
  color: var(--1);
}

ul,
ol,
li {
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:focus-visible {
  outline: none;
}

a:focus-visible:not(:focus),
a:active:focus,
a:active:focus-visible,
a:active:focus-visible:not(:focus) {
  outline: none;
}

a:not(.disabled):hover {
  color: var(--bc);
  border-color: var(--bc);
  text-decoration: none;
  cursor: pointer;
}

a[href] {
  cursor: pointer;
}

span,
div,
p {
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

b {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

font {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  text-transform: inherit;
}

svg {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0;
  fill: currentColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

input:focus, input:focus-visible, input:hover,
select:focus,
select:focus-visible,
select:hover,
textarea:focus,
textarea:focus-visible,
textarea:hover {
  background-color: inherit;
  text-transform: none;
  outline: none;
  box-shadow: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--f);
}

.container {
  margin: 0 auto;
  max-width: var(--cw);
  padding: 0 0.15rem;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 10rem;
  }
}

.f-inherit * {
  font-size: inherit;
}

.f-left {
  text-align: left;
}

.f-center {
  text-align: center;
}

.f-right {
  text-align: right;
}

.f-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.g-1-1 {
  grid-area: 1/1;
}

.flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.initialization__page [data-rolling] {
  overflow: hidden;
  width: 200%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.initialization__page [data-rolling] > * {
  display: flex;
}

.initialization__page [data-rolling] li {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  flex: 1;
}

header {
  height: 30px;
}/*# sourceMappingURL=main.css.map */