:root {
  --cw: 15rem;
  --ease: ease;
  --easein: ease-in;
  --easeout: ease-out;
  --easeinout: ease-in-out;
  --f: #fff;
  --0: #000;
  --1: #111;
  --6: #666;
  --9: #999;
  --d: #ddd;
  --f6: #f6f6f6;
  --bc: #154a93;
  --bl: #eaf3ff;
  --ac: #e27c11;
}

html {
  scroll-behavior: smooth;
  font-size: 5.2083333333vw;
}

@media (max-width: 1440px) {
  html {
    font-size: 6.9444444444vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 9.765625vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13.0208333333vw;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 20.8333333333vw;
  }
}
.f-12 {
  font-size: 0.12rem;
}

@media screen and (min-width: 768px) {
  .md\:f-12 {
    font-size: 0.12rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-12 {
    font-size: 0.12rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-12 {
    font-size: 0.12rem;
  }
}
.f-14 {
  font-size: 0.14rem;
}

@media screen and (min-width: 768px) {
  .md\:f-14 {
    font-size: 0.14rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-14 {
    font-size: 0.14rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-14 {
    font-size: 0.14rem;
  }
}
.f-16 {
  font-size: 0.16rem;
}

@media screen and (min-width: 768px) {
  .md\:f-16 {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-16 {
    font-size: 0.16rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-16 {
    font-size: 0.16rem;
  }
}
.f-18 {
  font-size: 0.18rem;
}

@media screen and (min-width: 768px) {
  .md\:f-18 {
    font-size: 0.18rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-18 {
    font-size: 0.18rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-18 {
    font-size: 0.18rem;
  }
}
.f-20 {
  font-size: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:f-20 {
    font-size: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-20 {
    font-size: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-20 {
    font-size: 0.2rem;
  }
}
.f-24 {
  font-size: 0.24rem;
}

@media screen and (min-width: 768px) {
  .md\:f-24 {
    font-size: 0.24rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-24 {
    font-size: 0.24rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-24 {
    font-size: 0.24rem;
  }
}
.f-28 {
  font-size: 0.28rem;
}

@media screen and (min-width: 768px) {
  .md\:f-28 {
    font-size: 0.28rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-28 {
    font-size: 0.28rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-28 {
    font-size: 0.28rem;
  }
}
.f-30 {
  font-size: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:f-30 {
    font-size: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-30 {
    font-size: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-30 {
    font-size: 0.3rem;
  }
}
.f-32 {
  font-size: 0.32rem;
}

@media screen and (min-width: 768px) {
  .md\:f-32 {
    font-size: 0.32rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-32 {
    font-size: 0.32rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-32 {
    font-size: 0.32rem;
  }
}
.f-40 {
  font-size: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:f-40 {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-40 {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-40 {
    font-size: 0.4rem;
  }
}
.f-48 {
  font-size: 0.48rem;
}

@media screen and (min-width: 768px) {
  .md\:f-48 {
    font-size: 0.48rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-48 {
    font-size: 0.48rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-48 {
    font-size: 0.48rem;
  }
}
.f-56 {
  font-size: 0.56rem;
}

@media screen and (min-width: 768px) {
  .md\:f-56 {
    font-size: 0.56rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-56 {
    font-size: 0.56rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-56 {
    font-size: 0.56rem;
  }
}
.f-80 {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:f-80 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:f-80 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:f-80 {
    font-size: 0.8rem;
  }
}
.mt-10 {
  margin-top: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-10 {
    margin-top: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-10 {
    margin-top: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-10 {
    margin-top: 0.1rem;
  }
}
.mt-15 {
  margin-top: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-15 {
    margin-top: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-15 {
    margin-top: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-15 {
    margin-top: 0.15rem;
  }
}
.mt-20 {
  margin-top: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-20 {
    margin-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-20 {
    margin-top: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-20 {
    margin-top: 0.2rem;
  }
}
.mt-30 {
  margin-top: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-30 {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-30 {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-30 {
    margin-top: 0.3rem;
  }
}
.mt-40 {
  margin-top: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-40 {
    margin-top: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-40 {
    margin-top: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-40 {
    margin-top: 0.4rem;
  }
}
.mt-60 {
  margin-top: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-60 {
    margin-top: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-60 {
    margin-top: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-60 {
    margin-top: 0.6rem;
  }
}
.mt-80 {
  margin-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-80 {
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-80 {
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-80 {
    margin-top: 0.8rem;
  }
}
.mt-100 {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-100 {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-100 {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-100 {
    margin-top: 1rem;
  }
}
.mt-120 {
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mt-120 {
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mt-120 {
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mt-120 {
    margin-top: 1.2rem;
  }
}
.mr-10 {
  margin-right: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-10 {
    margin-right: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-10 {
    margin-right: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-10 {
    margin-right: 0.1rem;
  }
}
.mr-15 {
  margin-right: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-15 {
    margin-right: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-15 {
    margin-right: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-15 {
    margin-right: 0.15rem;
  }
}
.mr-20 {
  margin-right: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-20 {
    margin-right: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-20 {
    margin-right: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-20 {
    margin-right: 0.2rem;
  }
}
.mr-30 {
  margin-right: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-30 {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-30 {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-30 {
    margin-right: 0.3rem;
  }
}
.mr-40 {
  margin-right: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-40 {
    margin-right: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-40 {
    margin-right: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-40 {
    margin-right: 0.4rem;
  }
}
.mr-60 {
  margin-right: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-60 {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-60 {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-60 {
    margin-right: 0.6rem;
  }
}
.mr-80 {
  margin-right: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-80 {
    margin-right: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-80 {
    margin-right: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-80 {
    margin-right: 0.8rem;
  }
}
.mr-100 {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-100 {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-100 {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-100 {
    margin-right: 1rem;
  }
}
.mr-120 {
  margin-right: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mr-120 {
    margin-right: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mr-120 {
    margin-right: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mr-120 {
    margin-right: 1.2rem;
  }
}
.mb-10 {
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-10 {
    margin-bottom: 0.1rem;
  }
}
.mb-15 {
  margin-bottom: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-15 {
    margin-bottom: 0.15rem;
  }
}
.mb-20 {
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-20 {
    margin-bottom: 0.2rem;
  }
}
.mb-30 {
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-30 {
    margin-bottom: 0.3rem;
  }
}
.mb-40 {
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-40 {
    margin-bottom: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-40 {
    margin-bottom: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-40 {
    margin-bottom: 0.4rem;
  }
}
.mb-60 {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-60 {
    margin-bottom: 0.6rem;
  }
}
.mb-80 {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-80 {
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-80 {
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-80 {
    margin-bottom: 0.8rem;
  }
}
.mb-100 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-100 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-100 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-100 {
    margin-bottom: 1rem;
  }
}
.mb-120 {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:mb-120 {
    margin-bottom: 1.2rem;
  }
}
.ml-10 {
  margin-left: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-10 {
    margin-left: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-10 {
    margin-left: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-10 {
    margin-left: 0.1rem;
  }
}
.ml-15 {
  margin-left: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-15 {
    margin-left: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-15 {
    margin-left: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-15 {
    margin-left: 0.15rem;
  }
}
.ml-20 {
  margin-left: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-20 {
    margin-left: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-20 {
    margin-left: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-20 {
    margin-left: 0.2rem;
  }
}
.ml-30 {
  margin-left: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-30 {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-30 {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-30 {
    margin-left: 0.3rem;
  }
}
.ml-40 {
  margin-left: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-40 {
    margin-left: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-40 {
    margin-left: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-40 {
    margin-left: 0.4rem;
  }
}
.ml-60 {
  margin-left: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-60 {
    margin-left: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-60 {
    margin-left: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-60 {
    margin-left: 0.6rem;
  }
}
.ml-80 {
  margin-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-80 {
    margin-left: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-80 {
    margin-left: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-80 {
    margin-left: 0.8rem;
  }
}
.ml-100 {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-100 {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-100 {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-100 {
    margin-left: 1rem;
  }
}
.ml-120 {
  margin-left: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:ml-120 {
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:ml-120 {
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:ml-120 {
    margin-left: 1.2rem;
  }
}
.m-10 {
  margin: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:m-10 {
    margin: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-10 {
    margin: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-10 {
    margin: 0.1rem;
  }
}
.m-15 {
  margin: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:m-15 {
    margin: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-15 {
    margin: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-15 {
    margin: 0.15rem;
  }
}
.m-20 {
  margin: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:m-20 {
    margin: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-20 {
    margin: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-20 {
    margin: 0.2rem;
  }
}
.m-30 {
  margin: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:m-30 {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-30 {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-30 {
    margin: 0.3rem;
  }
}
.m-40 {
  margin: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:m-40 {
    margin: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-40 {
    margin: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-40 {
    margin: 0.4rem;
  }
}
.m-60 {
  margin: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:m-60 {
    margin: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-60 {
    margin: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-60 {
    margin: 0.6rem;
  }
}
.m-80 {
  margin: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:m-80 {
    margin: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-80 {
    margin: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-80 {
    margin: 0.8rem;
  }
}
.m-100 {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:m-100 {
    margin: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-100 {
    margin: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-100 {
    margin: 1rem;
  }
}
.m-120 {
  margin: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:m-120 {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:m-120 {
    margin: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:m-120 {
    margin: 1.2rem;
  }
}
.pt-10 {
  padding-top: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-10 {
    padding-top: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-10 {
    padding-top: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-10 {
    padding-top: 0.1rem;
  }
}
.pt-15 {
  padding-top: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-15 {
    padding-top: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-15 {
    padding-top: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-15 {
    padding-top: 0.15rem;
  }
}
.pt-20 {
  padding-top: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-20 {
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-20 {
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-20 {
    padding-top: 0.2rem;
  }
}
.pt-30 {
  padding-top: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-30 {
    padding-top: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-30 {
    padding-top: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-30 {
    padding-top: 0.3rem;
  }
}
.pt-40 {
  padding-top: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-40 {
    padding-top: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-40 {
    padding-top: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-40 {
    padding-top: 0.4rem;
  }
}
.pt-60 {
  padding-top: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-60 {
    padding-top: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-60 {
    padding-top: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-60 {
    padding-top: 0.6rem;
  }
}
.pt-80 {
  padding-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-80 {
    padding-top: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-80 {
    padding-top: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-80 {
    padding-top: 0.8rem;
  }
}
.pt-100 {
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-100 {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-100 {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-100 {
    padding-top: 1rem;
  }
}
.pt-120 {
  padding-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pt-120 {
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pt-120 {
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pt-120 {
    padding-top: 1.2rem;
  }
}
.pr-10 {
  padding-right: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-10 {
    padding-right: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-10 {
    padding-right: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-10 {
    padding-right: 0.1rem;
  }
}
.pr-15 {
  padding-right: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-15 {
    padding-right: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-15 {
    padding-right: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-15 {
    padding-right: 0.15rem;
  }
}
.pr-20 {
  padding-right: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-20 {
    padding-right: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-20 {
    padding-right: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-20 {
    padding-right: 0.2rem;
  }
}
.pr-30 {
  padding-right: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-30 {
    padding-right: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-30 {
    padding-right: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-30 {
    padding-right: 0.3rem;
  }
}
.pr-40 {
  padding-right: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-40 {
    padding-right: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-40 {
    padding-right: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-40 {
    padding-right: 0.4rem;
  }
}
.pr-60 {
  padding-right: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-60 {
    padding-right: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-60 {
    padding-right: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-60 {
    padding-right: 0.6rem;
  }
}
.pr-80 {
  padding-right: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-80 {
    padding-right: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-80 {
    padding-right: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-80 {
    padding-right: 0.8rem;
  }
}
.pr-100 {
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-100 {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-100 {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-100 {
    padding-right: 1rem;
  }
}
.pr-120 {
  padding-right: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pr-120 {
    padding-right: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pr-120 {
    padding-right: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pr-120 {
    padding-right: 1.2rem;
  }
}
.pb-10 {
  padding-bottom: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-10 {
    padding-bottom: 0.1rem;
  }
}
.pb-15 {
  padding-bottom: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-15 {
    padding-bottom: 0.15rem;
  }
}
.pb-20 {
  padding-bottom: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-20 {
    padding-bottom: 0.2rem;
  }
}
.pb-30 {
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-30 {
    padding-bottom: 0.3rem;
  }
}
.pb-40 {
  padding-bottom: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-40 {
    padding-bottom: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-40 {
    padding-bottom: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-40 {
    padding-bottom: 0.4rem;
  }
}
.pb-60 {
  padding-bottom: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-60 {
    padding-bottom: 0.6rem;
  }
}
.pb-80 {
  padding-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-80 {
    padding-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-80 {
    padding-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-80 {
    padding-bottom: 0.8rem;
  }
}
.pb-100 {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-100 {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-100 {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-100 {
    padding-bottom: 1rem;
  }
}
.pb-120 {
  padding-bottom: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pb-120 {
    padding-bottom: 1.2rem;
  }
}
.pl-10 {
  padding-left: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-10 {
    padding-left: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-10 {
    padding-left: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-10 {
    padding-left: 0.1rem;
  }
}
.pl-15 {
  padding-left: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-15 {
    padding-left: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-15 {
    padding-left: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-15 {
    padding-left: 0.15rem;
  }
}
.pl-20 {
  padding-left: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-20 {
    padding-left: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-20 {
    padding-left: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-20 {
    padding-left: 0.2rem;
  }
}
.pl-30 {
  padding-left: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-30 {
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-30 {
    padding-left: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-30 {
    padding-left: 0.3rem;
  }
}
.pl-40 {
  padding-left: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-40 {
    padding-left: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-40 {
    padding-left: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-40 {
    padding-left: 0.4rem;
  }
}
.pl-60 {
  padding-left: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-60 {
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-60 {
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-60 {
    padding-left: 0.6rem;
  }
}
.pl-80 {
  padding-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-80 {
    padding-left: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-80 {
    padding-left: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-80 {
    padding-left: 0.8rem;
  }
}
.pl-100 {
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-100 {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-100 {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-100 {
    padding-left: 1rem;
  }
}
.pl-120 {
  padding-left: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:pl-120 {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:pl-120 {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:pl-120 {
    padding-left: 1.2rem;
  }
}
.p-10 {
  padding: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:p-10 {
    padding: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-10 {
    padding: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-10 {
    padding: 0.1rem;
  }
}
.p-15 {
  padding: 0.15rem;
}

@media screen and (min-width: 768px) {
  .md\:p-15 {
    padding: 0.15rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-15 {
    padding: 0.15rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-15 {
    padding: 0.15rem;
  }
}
.p-20 {
  padding: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:p-20 {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-20 {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-20 {
    padding: 0.2rem;
  }
}
.p-30 {
  padding: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:p-30 {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-30 {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-30 {
    padding: 0.3rem;
  }
}
.p-40 {
  padding: 0.4rem;
}

@media screen and (min-width: 768px) {
  .md\:p-40 {
    padding: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-40 {
    padding: 0.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-40 {
    padding: 0.4rem;
  }
}
.p-60 {
  padding: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:p-60 {
    padding: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-60 {
    padding: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-60 {
    padding: 0.6rem;
  }
}
.p-80 {
  padding: 0.8rem;
}

@media screen and (min-width: 768px) {
  .md\:p-80 {
    padding: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-80 {
    padding: 0.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-80 {
    padding: 0.8rem;
  }
}
.p-100 {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .md\:p-100 {
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-100 {
    padding: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-100 {
    padding: 1rem;
  }
}
.p-120 {
  padding: 1.2rem;
}

@media screen and (min-width: 768px) {
  .md\:p-120 {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:p-120 {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:p-120 {
    padding: 1.2rem;
  }
}
.g-60 {
  gap: 0.6rem;
}

@media screen and (min-width: 768px) {
  .md\:g-60 {
    gap: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-60 {
    gap: 0.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:g-60 {
    gap: 0.6rem;
  }
}
.g-30 {
  gap: 0.3rem;
}

@media screen and (min-width: 768px) {
  .md\:g-30 {
    gap: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-30 {
    gap: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:g-30 {
    gap: 0.3rem;
  }
}
.g-20 {
  gap: 0.2rem;
}

@media screen and (min-width: 768px) {
  .md\:g-20 {
    gap: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-20 {
    gap: 0.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:g-20 {
    gap: 0.2rem;
  }
}
.g-10 {
  gap: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:g-10 {
    gap: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:g-10 {
    gap: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:g-10 {
    gap: 0.1rem;
  }
}
.op-0 {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .md\:op-0 {
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-0 {
    opacity: 0;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:op-0 {
    opacity: 0;
  }
}
.op-6 {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .md\:op-6 {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-6 {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:op-6 {
    opacity: 0.6;
  }
}
.op-10 {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .md\:op-10 {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:op-10 {
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:op-10 {
    opacity: 1;
  }
}
.radius-8 {
  border-radius: 0.08rem;
}

@media screen and (min-width: 768px) {
  .md\:radius-8 {
    border-radius: 0.08rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:radius-8 {
    border-radius: 0.08rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:radius-8 {
    border-radius: 0.08rem;
  }
}
.radius-10 {
  border-radius: 0.1rem;
}

@media screen and (min-width: 768px) {
  .md\:radius-10 {
    border-radius: 0.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .lg\:radius-10 {
    border-radius: 0.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:radius-10 {
    border-radius: 0.1rem;
  }
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

@media screen and (min-width: 768px) {
  .md\:grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .md\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .md\:grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .md\:grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .md\:grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .md\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lg\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .xl\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.ppins-bold {
  font-family: "Poppins-Bold";
}
.ppins-bold > * {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "PingFang SC", "Microsoft YaHei", "Microsoft YaHei UI", "SimSun", "SimHei", "Arial";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--f, #fff);
}

::-webkit-scrollbar-thumb {
  border: solid 1px transparent;
  width: 3px;
  border-radius: 4px;
  background-color: var(--bc, #0153f8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Bold";
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input,
select,
textarea,
button {
  outline: none;
  box-shadow: none;
}

input:focus, input:focus-visible, input:hover,
select:focus,
select:focus-visible,
select:hover,
textarea:focus,
textarea:focus-visible,
textarea:hover {
  outline: none;
  box-shadow: none;
  background-color: inherit;
  text-transform: none;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: var(--f);
}

p {
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

svg {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0;
  fill: currentColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

input:focus, input:focus-visible, input:hover,
select:focus,
select:focus-visible,
select:hover,
textarea:focus,
textarea:focus-visible,
textarea:hover {
  background-color: inherit;
  text-transform: none;
  outline: none;
  box-shadow: none;
}

body {
  font-size: 0.16rem;
  line-height: 1.6;
  color: var(--1);
  background-color: var(--f);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: var(--cw);
  padding: 0 0.15rem;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 12rem;
  }
}

.f-inherit * {
  font-size: inherit;
}

.f-left {
  text-align: left;
}

.f-center {
  text-align: center;
}

.f-right {
  text-align: right;
}

.f-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.g-one > * {
  grid-area: 1/1;
}

.flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.relative {
  position: relative;
}

.o-hidden {
  overflow: hidden;
}

.initialization__page [data-rolling] {
  overflow: hidden;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.initialization__page [data-rolling] > * {
  display: flex;
}

.initialization__page [data-rolling] li {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  flex: 1;
}

.c_break {
  background-color: var(--w);
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c_break ul {
  display: flex;
  align-items: center;
  gap: 0.06rem;
}
.c_break ul li {
  display: flex;
  align-items: center;
  gap: 0.06rem;
  line-height: 1.2;
  color: var(--9);
}
@media screen and (max-width: 768px) {
  .c_break ul li {
    font-size: 14px;
  }
}
.c_break ul li img {
  width: 0.13rem;
  height: auto;
  margin-right: 0.04rem;
}
@media screen and (max-width: 768px) {
  .c_break ul li img {
    width: 13px;
  }
}
.c_break ul li span {
  width: auto;
  white-space: pre;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.c_break ul li svg {
  width: 0.16rem;
}
@media screen and (max-width: 768px) {
  .c_break ul li svg {
    width: 16px;
  }
}
.c_break ul li a,
.c_break ul li span {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  transition: all var(--ease) 0.3s;
}
.c_break ul li a:hover,
.c_break ul li span:hover {
  color: var(--bc);
}
.c_break ul li:last-child {
  color: var(--bc);
}

.c_sort li a {
  position: relative;
  display: flex;
}
@media screen and (max-width: 768px) {
  .c_sort li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .c_sort li a {
    font-size: 14px;
  }
}
.c_sort li a::after {
  content: "";
  position: absolute;
  bottom: -0.01rem;
  right: 0;
  height: 0.03rem;
  width: 0;
  background-color: var(--bc);
  transition: all var(--ease) 0.3s;
}
.c_sort li a:hover::after {
  left: 0;
  width: 100%;
}

.c_sort_swiper {
  overflow: hidden;
  width: 100%;
}
.c_sort_swiper li {
  width: auto;
}

.p_header {
  border-bottom: 0.01rem solid var(--d);
  position: relative;
  overflow: hidden;
}
.p_header .c_h1 h1 {
  line-height: 1.2;
}
.p_header .c_img_1 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  display: none;
}
.p_header .c_img_1 img {
  -o-object-position: right top;
     object-position: right top;
}
.p_header .r_ring {
  --r1: 9rem;
  width: var(--r1);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}
.p_header .r_ring .r1 {
  position: absolute;
  --r: 12rem;
  width: var(--r);
  height: var(--r);
  top: -8.5rem;
  right: -2.5rem;
  background: linear-gradient(300deg, #ffffff, rgba(21, 73, 147, 0.1));
  border-radius: 100%;
}
@media screen and (max-width: 1440px) {
  .p_header .r_ring .r1 {
    --r: 11rem;
    top: -8rem;
  }
}
@media screen and (max-width: 1024px) {
  .p_header .r_ring .r1 {
    --r: 10rem;
    top: -7.3rem;
  }
}
@media screen and (max-width: 768px) {
  .p_header .r_ring .r1 {
    --r: 8rem;
    top: -5.5rem;
    right: -1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .p_header .r_ring .r1 {
    --r: 6rem;
    top: -4.2rem;
    right: -1.1rem;
  }
}
.p_header .r_ring .r1::after {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #eaeff5, rgba(21, 73, 147, 0.2));
  border-radius: 100%;
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 0.012rem), black 0);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 0.012rem), #000000 0);
  animation: rotateBorder 10s linear infinite;
}
.p_header .r_ring .r2 {
  position: absolute;
  --r: 7.8rem;
  width: var(--r);
  height: var(--r);
  top: -6.3rem;
  left: -0.3rem;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.1), rgba(21, 73, 147, 0.06));
  border-radius: 100%;
}
@media screen and (max-width: 1440px) {
  .p_header .r_ring .r2 {
    --r: 6.8rem;
    top: -5.3rem;
    left: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .p_header .r_ring .r2 {
    --r: 6rem;
    left: 2rem;
    top: -4.6rem;
  }
}
@media screen and (max-width: 768px) {
  .p_header .r_ring .r2 {
    --r: 5rem;
    left: 3.2rem;
    top: -3.7rem;
  }
}
@media screen and (max-width: 480px) {
  .p_header .r_ring .r2 {
    --r: 4rem;
    left: 4rem;
    top: -3.2rem;
  }
}
.p_header .r_ring .r2::after {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #eaeff5, rgba(21, 73, 147, 0.2));
  border-radius: 100%;
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 0.014rem), black 0);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 0.014rem), #000000 0);
  animation: rotateBorder 5s linear infinite;
}
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p_case_1 .c_list_1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
}
.p_case_1 .c_item {
  border-top: 0;
  border: 0.01rem solid var(--d);
  height: 4.3rem;
}
.p_case_1 .c_item .c_img {
  height: 3rem;
  width: calc(100% + 0.02rem);
  transform: translate(-0.01rem, -0.01rem);
}
.p_case_1 .c_item .c_img img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all var(--ease) 0.3s;
}
.p_case_1 .c_item .c_info {
  transition: all var(--ease) 0.3s;
  z-index: 2;
  height: 2rem;
}
.p_case_1 .c_item .c_info .i {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  display: grid;
  place-content: center;
  background: var(--f);
  transition: opacity var(--ease) 0.3s;
}
.p_case_1 .c_item .c_info .i img {
  width: 0.15rem;
}
.p_case_1 .c_item .c_info .t {
  color: var(--0);
  line-height: 1.2;
  transition: color var(--ease) 0.3s;
}
.p_case_1 .c_item .c_info .s {
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  margin-top: 0.04rem;
  transition: color var(--ease) 0.3s;
}
.p_case_1 .c_item:hover .c_info {
  transform: translateY(-0.7rem);
  background-color: var(--bc);
}
.p_case_1 .c_item:hover .c_info > * {
  color: var(--f);
}
.p_case_1 .c_item:hover .c_info .i {
  opacity: 1;
}
.p_case_1 .c_item:hover .c_img img {
  transform: scale(1.1);
}

.p_gallery_1 {
  background: var(--f6);
}
.p_gallery_1 .c_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2.8rem, 1fr));
}
@media screen and (max-width: 480px) {
  .p_gallery_1 .c_list {
    grid-template-columns: 1fr 1fr;
  }
}
.p_gallery_1 .c_item img {
  transition: all var(--ease) 0.3s;
}
.p_gallery_1 .c_item:hover img {
  transform: scale(1.1);
}

.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
@media screen and (max-width: 768px) {
  .pagenation {
    gap: 0.1rem;
  }
}
.pagenation .page_a {
  width: 0.52rem;
  height: 0.52rem;
  background: var(--f6);
  border: 0.01px solid var(--f6);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27253d;
  transition: all var(--ease) 0.3s;
}
@media screen and (max-width: 768px) {
  .pagenation .page_a {
    width: 0.44rem;
    height: 0.44rem;
  }
}
.pagenation .page_a svg {
  width: 0.12rem;
  height: 0.12rem;
}
.pagenation .page_a.disabled {
  background: var(--bg);
  border-color: var(--9);
  color: var(--9);
}
.pagenation .page_a.page_ellipsis {
  background: none;
  border: none;
  width: 0.3rem;
}
.pagenation .page_a.current {
  border-color: var(--bc);
  background-color: #d0dbe9;
  color: var(--bc);
}
.pagenation .page_a:not(.current):not(.disabled):hover {
  border-color: var(--bc);
  background-color: var(--bc);
  color: var(--f);
}
.pagenation .page_prev,
.pagenation .page_next,
.pagenation .page_first,
.pagenation .page_last {
  padding: 0 0.15rem;
}
.pagenation .page_jump {
  display: flex;
  align-items: center;
  gap: 0.14rem;
  margin-left: 0.15rem;
}
.pagenation .page_jump input {
  width: 0.48rem;
  height: 0.48rem;
  background: transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--ease) 0.3s;
  border: 1px solid #dedede;
  color: var(--d);
  text-align: center;
  text-indent: 0;
}

.c_contactBox {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.c_contact .c_i0 {
  color: var(--0);
}
.c_contact .c_i1 {
  text-transform: uppercase;
  line-height: 1.1;
}
.c_contact .c_i1 span {
  color: var(--1);
}
.c_contact .c_i1 span:first-child {
  color: var(--bc);
}
.c_contact .c_contact_way .c_contact_way_xin {
  grid-template-columns: 0.3rem 1fr;
  gap: 0.15rem;
}
.c_contact .c_contact_way img {
  width: 0.3rem;
  height: 0.3rem;
}
.c_contact .c_contact_quote {
  padding: 1rem 0.6rem 0.8rem;
  border-radius: 0.16rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--f);
  box-shadow: 0px 10px 50px 0px rgba(21, 74, 147, 0.15);
  position: relative;
  overflow: hidden;
  height: 75vh;
}

header {
  height: 30px;
}/*# sourceMappingURL=main.css.map */